.card {
  border: 1px solid var(--radon-border-grid-subtle);
  /* background-color: var(--swm-off-white); */
  background-color: var(--swm-background);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 620px;
}

.card span {
  height: 24px;
  width: 24px;
}

.card h4 {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
}


.card p {
  /* color: var(--swm-navy-light-60); */
  color: var(--radon-color-secondary);
}

.contactButton {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: var(--radon-button);
  transition-property: border, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: var(--radon-color-primary);
  font-weight: 400;
  height: 48px;
}

.contactButton svg {
  transition: transform 0.2s ease-in-out;
}

.contactButton:hover {
  background-color: var(--radon-button-hover);
  text-decoration: none;
}

.contactButton:hover svg {
  transform: translateX(4px);
}

