.table-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--vscode-editor-background);
}

.table-row:hover {
  cursor: pointer;
  background-color: var(--vscode-list-hoverBackground);
}

.table-header-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0; /* Allow flex items to shrink below their content size */
  padding-right: 10px;
}

.table-header-cell > div:first-child {
  /* Title container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0; /* Allow this to shrink */
  display: flex;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  button {
    margin-left: 6px;
    opacity: 0;
  }

  .icon-button:focus,
  .icon-button {
    box-shadow: none;
  }
}

.table-header-cell > span {
  flex-shrink: 0;

  &.codicon {
    font-weight: bold;
  }

  .hidden {
    display: none;
  }
}

/* make sure the background is not highlit when the user hovers over the button */
vscode-table-header-cell:hover:not(:has(button:hover)) {
  background-color: var(--vscode-list-hoverBackground);
}

vscode-table-header-cell:hover > .table-header-cell > div:first-child {
  button {
    opacity: 1;
  }
}
