.network-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 6px;
  gap: 4px;
}

.network-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.network-filter-select {
  max-width: 100px;
}
