.network-bar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 6px;
  gap: 4px;
  align-items: center;
}

.network-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.network-filter-input {
  flex-grow: 1;
  min-width: 200px;
  max-width: 400px;
}
