.response-tab-copy-button {
  position: absolute;
  top: 4px;
  right: 14px;
  background-color: var(--vscode-diffEditor-unchangedRegionBackground);
}

.response-tab-pre {
  white-space: pre-wrap;
  word-break: break-word;
}
