.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.heading {
  margin-top: 12.25rem;
}

.headingLabel {
  position: relative; /* needed for headingSwoosh */
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  font-family: var(--swm-title-landing-font);
  font-size: 46px;
  font-weight: 700;

  line-height: 1.1;
  letter-spacing: 0;
  color: var(--swm-landing-heading);
}
.headingLabel span {
  color: var(--swm-green-light-100);
}

.headingSwoosh {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(70deg, transparent, var(--swm-off-white), transparent);
}

.poweredBy {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.poweredBy p {
  margin: 0;
}

.heroImageContainer {
  position: relative;
}

.heroImageWrapper {
  border-radius: 2rem;
  border-color: var(--swm-green-light-100);
  border-width: 1rem;
  border-style: solid;
  position: absolute;
  transform: translateX(70%) translateY(30px);
  width: 1088px;
}
.heroImage {
  border-color: #000;
  border-width: 0.5rem;
  border-style: solid;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  margin-bottom: -10px;
  background-color: #232736;
}

.logo {
  width: 140px;
  height: auto;
}

.swmLogoWrapper {
  display: flex;
  align-items: center;
}

.headingDisclaimer {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--swm-navy-light-60);
}

.headingDisclaimerIcon {
  margin-right: 5px;
}

.subheadingLabel {
  font-family: var(--swm-h2-font-size);
  font-size: var(--swm-h3-font-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--swm-heading-letter-spacing-bigger);

  margin-top: 3rem;
  margin-bottom: 5.5rem;
  width: 50%;
  color: var(--swm-landing-heading);
  text-wrap: balance;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

@media (min-width: 2920px) {
  .heroImageWrapper {
    width: auto;
    position: static;
    transform: none;
  }
  .hero {
    flex-direction: row-reverse;
    margin-bottom: 0;
    align-items: center;
  }
  .subheadingLabel {
    width: 100%;
  }
  .heading {
    margin: 0;
  }
}

@media (max-width: 2400px) {
  .heroImageWrapper {
    transform: translateX(60%) translateY(5%);
  }
}

@media (max-width: 996px) {
  .hero {
    margin-bottom: 1rem;
  }
  .heading {
    margin-top: 4rem;
  }
  .headingLabel {
    font-size: 42px;
  }
  .subheadingLabel {
    margin: 2rem 0 3.5rem 0;
    font-size: 26px;
    width: 100%;
  }

  .heroImageWrapper {
    width: auto;
    position: static;
    margin-top: 4rem;
    border-width: 1rem;
    border-radius: 2.5rem;
    transform: none;
  }
  .heroImage {
    border-width: 0.5rem;
    border-radius: 1.5rem;
  }
}

@media (max-width: 430px) {
  .hero {
    margin-bottom: 0;
  }
  .headingLabel {
    font-size: 28px;
  }
  .subheadingLabel {
    margin: 1rem 0 2rem 0;
    font-size: 18px;
  }

  .heroImageWrapper {
    border-width: 8px;
    border-radius: 16px;
  }
  .heroImage {
    border-width: 4px;
    border-radius: 8px;
  }
  .headingDisclaimer {
    align-items: flex-start;
  }
  .headingDisclaimer svg {
    margin-top: 2px;
  }

  .buttonContainer {
    flex-direction: column;
  }
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
}

/*   Closed state of the dialog   */
dialog {
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  max-width: 1280px;
  width: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: all 0.3s allow-discrete;
  padding: 2rem;
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: translateY(50px);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: all 0.3s allow-discrete;
  user-select: none;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

.responsiveIframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

html:has(dialog[open]) {
  overflow: hidden;
}

.dialogCloseButton {
  position: absolute;
  padding: 6px;
  height: 32px;
  width: 32px;
  top: 3px;
  right: 3px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
