:root {
  /* Background */
  --background-dark-100: #232736;
  --background-dark-90: #272b3c;
  --background-dark-80: #30354a;
  --background-dark-70: #383e58;
  --background-dark-60: #404867;
  --background-dark-50: #485276;
  --background-dark-40: #505c85;
  --background-dark-30: #586694;
  --background-dark-20: #6070a3;
  --background-dark-10: #687ab2;

  /* Navy */
  --navy-dark-140: #1b2445;
  --navy-dark-120: #122154;
  --navy-dark-100: #001a72;
  --navy-dark-80: #0a2688;
  --navy-dark-70: #33488e;
  --navy-dark-60: #7485bd;
  --navy-dark-40: #abbcf5;
  --navy-dark-20: #c1c6e5;

  /* Purple */
  --purple-dark-140: #473d68;
  --purple-dark-120: #6a539a;
  --purple-dark-100: #b07eff;
  --purple-dark-80: #c49ffe;
  --purple-dark-60: #d0b2ff;
  --purple-dark-40: #e9dbff;

  /* Blue */
  --blue-dark-140: #1b4865;
  --blue-dark-120: #126893;
  --blue-dark-100: #00a9f0;
  --blue-dark-80: #6fcef5;
  --blue-dark-60: #a8dbf0;
  --blue-dark-40: #d7f0fa;

  /* Green */
  --green-dark-140: #2a4f4a;
  --green-dark-120: #31775d;
  --green-dark-100: #3fc684;
  --green-dark-80: #7adead;
  --green-dark-60: #a0dfc0;
  --green-dark-40: #d3f5e4;

  /* Red */
  --red-dark-140: #5a3b46;
  --red-dark-120: #914f55;
  --red-dark-100: #ff7774;
  --red-dark-80: #ff8b88;
  --red-dark-60: #ffb4b2;
  --red-dark-40: #ffdcdb;

  /* Yellow */
  --yellow-dark-140: #5a553a;
  --yellow-dark-120: #91823d;
  --yellow-dark-100: #ffdd44;
  --yellow-dark-80: #ffe678;
  --yellow-dark-60: #fff1b2;
  --yellow-dark-40: #fff9db;

  /* White */
  --off-white: #f8f9ff;
  --white: #fcfcff;

  /* UI */
  /* These colors change in runtime whenever vscode theme is changed  */
  --preview-background: var(--background-dark-100);
  --active-item: var(--blue-dark-100);

  --default-text: var(--off-white);
  --secondary-text: var(--background-dark-10);
  --disabled-text: var(--background-dark-40);

  --highlight-text: var(--white);
  --highlight-active-text: var(--white);
  --highlight-selected-text: var(--white);
  --highlight-selected-hover-text: var(--off-white);

  --highlight-hover-background: var(--background-dark-80);
  --highlight-active-background: var(--background-dark-70);
  --highlight-selected-background: var(--background-dark-60);
  --highlight-selected-hover-background: var(--background-dark-50);

  --popover-background: var(--background-dark-80);

  --select-background: var(--background-dark-100);
  --select-active-background: var(--background-dark-80);

  --separator: var(--background-dark-40);
}
