.containerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  padding: 40px 80px 80px;
  justify-content: space-between;
  border-top: 1px solid var(--swm-border);
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 260px;
  padding-right: 40px;
  justify-content: flex-end;
}

.right {
  display: grid;
  grid-template-columns: 160px 160px 120px;
  gap: 80px;
}

.brandContainer {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.brandInfo {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.brand,
.brand a {
  color: var(--radon-subheading);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

p.copyright {
  color: var(--swm-copyright-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  max-width: 190px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

a.icon {
  display: flex;
  height: 24px;
  width: 24px;
  opacity: 0.5;
}

a.icon:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}

@media (max-width: 710px) {
  .right {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .container {
    padding: 40px 24px 80px;
  }
}
