.homepageButton {
  height: 60px;
  padding: 1em 1.5em 1em 1em;

  font-weight: 500;
  font-size: 20px;

  color: var(--swm-off-white);
  background-color: var(--swm-landing-button-purple);

  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.homepageButtonWithSubtitle {
  height: 94px;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
}

.homepageButton span {
  transition: color 0.3s;
  font-size: 16px;
  color: var(--swm-green-light-20);
}

.homepageButton:hover span {
  color: var(--swm-green-light-80);
}

.homepageButtonSubtitleWrapper {
  display: flex;
  flex-direction: column;
}

a.homepageButtonLink:hover {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .homepageButton,
  .homepageButtonLink {
    width: 100%;
  }
  .homepageButton {
    height: auto;
    font-size: 18px;
  }
}

.homepageButton p {
  margin: 0 0 2px 0;
}

.homepageButton svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow {
  transition: left 0.3s;
}

.arrow {
  left: 8px;
}

.homepageButton svg {
  transition: stroke 0.3s;
}

.homepageButton:hover .arrow {
  left: 16px;
}

/* Button - transparent styling */

.buttonTransparentStyling {
  background-color: transparent;
  color: var(--swm-landing-button-navy);
}

.buttonTransparentStyling svg {
  stroke: var(--swm-landing-button-navy);
}

.buttonTransparentStyling:hover {
  background-color: var(--swm-landing-button-navy);
  color: var(--swm-off-white);
}

.buttonTransparentStyling:hover svg {
  stroke: var(--swm-off-white);
}

/* Button - green styling */

.buttonGreenStyling {
  background-color: var(--swm-landing-button-green);
  color: var(--swm-off-white);
  border: 1px solid var(--swm-landing-button-green);
}

.buttonGreenStyling svg {
  stroke: var(--swm-off-white);
}

.buttonGreenStyling:hover {
  background-color: transparent;
  color: var(--swm-landing-button-green);
}

.buttonGreenStyling:hover svg {
  stroke: var(--swm-landing-button-green);
}

.buttonGreenBorderStyling {
  border: 1px solid var(--swm-landing-button-green);
}

.buttonNavyBorderStyling {
  border: 1px solid var(--swm-landing-button-navy);
}

.arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}
