.phone-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  position: relative;
  user-select: none;
}

.phone-wrapper:hover,
.phone-wrapper:focus-visible {
  outline: none;
}

.phone-content {
  display: flex;
  overflow: auto;

  position: relative;
  min-height: 650px;
}

.phone-screen {
  position: absolute;
  aspect-ratio: var(--phone-screen-aspect-ratio);
  height: var(--phone-screen-height);
  top: var(--phone-top);
  left: var(--phone-left);
  -webkit-mask-image: var(--phone-mask-image);
  mask-image: var(--phone-mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.phone-frame {
  pointer-events: none;
}

.extension-error-screen {
  background-color: var(--background-dark-120);
}

.phone-inspect-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  pointer-events: none;
}

.inspect-area {
  position: absolute;
  background-color: rgba(56, 172, 221, 0.85);
}

.phone-debug-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-refreshing-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uncaught-button {
  display: flex;
  background-color: #ff6259;
  border-radius: 10px;
  border: 1px solid #e65f50;
  padding: 5px;
  color: #001a72;
}

.phone-exception-overlay {
  background-color: rgba(255, 106, 89, 0.85);
  color: #001a72;
}

.phone-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.phone-content-loading-overlay {
  background-color: rgba(255, 255, 255, 0.15);
}
