.progress-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.progress-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid var(--active-item);
  border-radius: 50%;
  animation: progress-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--active-item) transparent transparent transparent;
}
.progress-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.progress-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.progress-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes progress-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
