[submodule "packages/simulator-server"]
	path = packages/simulator-server
	url = git@github.com:software-mansion-labs/simulator-server.git
[submodule "packages/vscode-js-debug"]
	path = packages/vscode-js-debug
	url = git@github.com:software-mansion-labs/vscode-js-debug.git
[submodule "packages/redux-devtools-expo-dev-plugin"]
	path = packages/redux-devtools-expo-dev-plugin
	url = git@github.com:software-mansion-labs/redux-devtools-expo-dev-plugin.git
[submodule "packages/radon-ide-react-query-webui"]
	path = packages/radon-ide-react-query-webui
	url = git@github.com:software-mansion-labs/radon-ide-react-query-webui.git
