.container {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--radon-border-layout);
  max-width: 1360px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.left span {
  color: var(--swm-green-light-100);
  font-size: 128px;
  font-weight: 600;
  line-height: normal;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  z-index: 1;
}

.left p {
  margin: 0;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  width: 100%;
  gap: 16px;
}

.heading p {
  color: var(--ifm-color-primary);
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.subheading {
  color: var(--radon-subheading);

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 1;
}

.content {
  padding: 0 40px 0 110px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content p {
  margin: 0;
}

.radonBackgroundImage {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: -290px;
  aspect-ratio: 1/1;
  max-width: 1000px;
  width: 100%;
  min-width: 500px;
  z-index: 0;
}

.chat {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 560px;
  background: var(--radon-background-75);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  position: relative;
}

.chat::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  opacity: 0.5;
  background: linear-gradient(to right, var(--radon-gradient-green), #111111bf);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.message {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--swm-card-border);
  font-size: 12px;
}

.message p {
  margin: 0;
}

.question span {
  color: var(--swm-green-light-100);
  margin-right: 8px;
}

.question {
  color: var(--ifm-color-primary);
  font-size: 16px;
  line-height: normal;
  margin: 0;
}

.icon {
  height: 12px;
  width: 13px;

  display: flex;
}

.messageHeading {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.current {
  color: var(--radon-color-grey-90);
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1270px) {
  .left span {
    font-size: 64px;
  }

  .heading p {
    font-size: 24px;
  }

  .left {
    padding: 40px 24px;
  }
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .subheading {
    display: none;
  }

  .content {
    padding: 0 24px;
  }
  .right {
    padding-bottom: 48px;
  }
}

@media (max-width: 590px) {
  .radonBackgroundImage {
    right: -250px;
    top: 310px;
  }

  .right {
    flex: 0 0 auto;
  }

  .left {
    padding: 32px 24px;
  }
}
