:root {
  --swm-logo-height: 36px;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 218px;
}

.navbar__logo img {
  height: var(--swm-logo-height);
}

[class*="navbar__items"] [class*="navbar__logo"] {
  justify-content: flex-start;
}

/* Hide logo on mobile sidebar */
[class*="navbar-sidebar"] [class*="navbar__logo"] {
  /* justify-content: flex-start; */
  display: none;
}

[class*="sidebar"] {
  background-color: var(--swm-off-background);
}

/* Logo shown on the sidebar after scrolling down the page. */
@media (min-width: 996px) {
  [class*="sidebar"] [class*="navbar__logo"] {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    align-items: center;
    height: 57px;
  }
}

.navbar__title {
  margin-left: 1em;
  height: var(--swm-logo-height);
}

@media (max-width: 996px) {
  .navbar__title {
    display: none;
  }
}
