.container {
  border-right: var(--radon-border-layout);
  display: flex;
  max-width: 1360px;
  flex-shrink: 0;
  gap: 80px;
  justify-content: space-evenly;
  margin-right: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 680px;
  width: 100%;
  padding: 120px 0 120px 80px;
}

.heading {
  color: var(--ifm-color-primary);
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.heading span {
  color: var(--radon-text-green-highlight);
  font-weight: 500;
}

.textContent {
  color: var(--radon-subheading);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  align-self: stretch;
}

.learnMoreButton {
  padding: 16px;
  border: 1px solid var(--radon-button-secondary);
  width: fit-content;

  color: var(--radon-button-secondary);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: Aeonik;
  cursor: pointer;
}

.learnMoreButton:hover {
  background-color: transparent;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.box {
  display: flex;
  flex: 1;
  padding-right: 40px;
  justify-content: space-between;
}

.boxBorder {
  border-top: var(--radon-border-layout);
}

.swmMultipleIconContainer {
  display: flex;
  align-items: center;
  max-width: 425px;
  min-width: 300px;
}

.swmIconContainer {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    padding: 40px 24px;
    gap: 24px;
    border: none;
    height: fit-content;
    align-items: center;
    margin-right: 0;
  }

  .heading {
    font-size: 24px;
  }
  .textContent {
    font-size: 16px;
  }
  .textContainer {
    padding: 0;
  }
  .learnMoreButton {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 900px) {
  .container {
    flex-wrap: wrap-reverse;
  }
  .textContainer {
    padding: 0;
  }
  .swmMultipleIconContainer {
    display: none;
  }

  .swmIconContainer {
    display: flex;
  }
  .box {
    height: fit-content;
  }
}
