.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1920px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 996px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 430px) {
  .container {
    width: 90%;
  }
}
