.preventfulContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  gap: 24px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 80px 0 40px 0;
}

.headingLabel {
  text-align: center;
  text-wrap: balance;
  font-size: 64px;
  font-weight: 400;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.subheadingLabel {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 32px;
  color: var(--radon-subheading);
}

@media (max-width: 767px) {
  .titleContainer {
    padding: 40px 24px 24px;
  }
  .headingLabel {
    margin: 0;
    text-align: left;
    text-wrap: balance;
    font-size: 32px;
    font-weight: 400;
  }
  .subheadingLabel {
    text-align: left;
    font-size: 16px;
    margin: 0;
  }
}
