.container {
  max-width: var(--radon-border-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.preventfulContainer {
  overflow: visible;
}

@media (max-width: 600px) {
  .preventfulContainer {
    overflow: hidden;
  }
}
