.faq {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  padding: 40px 80px 80px;
  gap: 80px;
  justify-content: center;
}
.faqMain {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faqHeading {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.faqSubheading {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--radon-subheading);
}

.faqsContainer {
  margin: 0;
}

@media (max-width: 1024px) {
  .faq {
    padding: 0;
    gap: 24px;
    grid-template-columns: 1fr;
  }
  .faqMain {
    gap: 16px;
  }
  .faqHeading {
    font-size: 28px;
  }
  .faqSubheading {
    font-size: 16px;
    line-height: 24px;
  }
}
