.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* Blur on/off */
  background-color: transparent;
  /* background-color: var(--swm-background); */

  position: sticky;
  top: 0;
  width: 100%;

  /* Override default values */
  height: 80px;
  padding: 0;

  z-index: 1000;
}

.navbar_container {
  height: 80px;
  width: 100%;
  max-width: 1360px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-left: 1px solid var(--swm-border);
  border-right: 1px solid var(--swm-border);
  border-bottom: 1px solid var(--swm-border);

  /* Blur on/off */
  backdrop-filter: blur(20px);
}

.navbar_left {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-right: 1px solid var(--swm-border);
}

.navbar_left a {
  width: 156px;
  height: 40px;
}

.logo {
  width: 156px;
  height: 40px;
  color: white;
}

.navbar_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar_center .nav_links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.nav_links li a {
  color: var(--ifm-color-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.75;
}

.nav_links li a:hover {
  opacity: 1;
}

.navbar_right {
  display: flex;
  padding: 0 24px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  justify-content: space-between;
  /* width: 200px; */
}

.header_github:before {
  display: flex;
  height: 28px;
  width: 28px;
  opacity: 0.75;
  background-color: var(--ifm-color-primary);

  mask: url(/static/img/github.svg) no-repeat 100% 100%;
  mask-size: cover;
  content: "";
}

.header_github:hover:before {
  opacity: 1;
}

.download p {
  font-size: 16px;
  font-weight: 400;

  color: var(--ifm-color-primary);

  margin: 0;
  line-height: 24px;
}

.download {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ifm-color-primary);
}

.download:hover {
  opacity: 0.75;
}

a:hover {
  text-decoration: none;
}
.menuIcon {
  display: none;
}

@media (max-width: 1360px) {
  .navbar_container {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 830px) {
  .navbar_right {
    display: none;
  }
  .navbar_center {
    display: none;
  }
  .menuIcon {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 20px;
  }
  .navbar_left {
    width: 100%;
  }
  .navbar_left a {
    width: 140px;
    height: 36px;
  }

  .logo {
    width: 140px;
    height: 36px;
  }
}
