.fast-refresh-indicator-container {
  display: relative;
  align-self: flex-start;
}

.fast-refresh-indicator {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  background-color: var(--swm-popover-background);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--swm-default-text);
  font-size: 14px;
  transition: opacity 0.3s ease;
  box-shadow: var(--swm-backdrop-shadow);
  display: none;
}

.fast-refresh-indicator.show {
  opacity: 0.9;
  display: block;
}

.fast-refresh-indicator .codicon {
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
}

.fast-refresh-indicator .codicon-loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}