.device-settings-content {
  padding: 14px;
}

.device-settings-heading {
  text-align: center;
  margin: 0 0 10px 0;
  color: var(--swm-default-text);
}

.device-settings-center {
  display: flex;
  align-items: center;
}

.device-settings-small-text-indicator {
  font-size: 8px;
  line-height: 1;
  padding-right: 4px;
}

.device-settings-large-text-indicator {
  font-size: 13px;
  line-height: 0.7;
  padding-left: 6px;
}

.device-settings-small-text-indicator::after,
.device-settings-large-text-indicator::after {
  content: "A";
  display: block;
  width: 8px;
  height: 8px;
  color: var(--swm-default-text);
}

.device-settings-items-row {
  display: flex;
  justify-content: space-between;
}

.device-settings-margin {
  margin-bottom: 20px;
}

.icons-container {
  display: flex;
  align-items: center;
}
