:root {
  --swm-device-select-width: 240px;
}

.device-select-trigger {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
  height: var(--swm-button-size);
  border: 0px solid transparent;
  border-radius: 18px;
  gap: 5px;
  background-color: var(--swm-device-select-background);
  color: var(--swm-device-select-trigger-text);
  user-select: none;
  width: var(--swm-device-select-width);
}
.device-select-trigger:hover {
  background-color: var(--swm-device-select-trigger-hover);
}
.device-select-trigger[data-state="open"] {
  border-radius: 0 0 18px 18px;
}
.device-select-trigger[data-disabled] {
  background-color: var(--swm-device-select-trigger-disabled);
  color: var(--swm-secondary-text);
  pointer-events: none;
}
.device-select-trigger:focus {
  box-shadow: var(--swm-focus-outline);
}

.device-select-value {
  display: flex;
  align-items: center;
  gap: 5px;
}

.device-select-content {
  overflow: hidden;
  background-color: var(--swm-device-select-background);
  width: var(--swm-device-select-width);
  border-radius: 18px 18px 0 0;
  padding-top: 4px;
  max-height: var(--radix-select-content-available-height);
}

.device-select-viewport {
  padding: 6px;
}

.device-select-separator {
  height: 1px;
  background-color: var(--swm-device-select-separator);
  margin: 2px 0;
  width: 100%;
}

.device-select-item {
  font-size: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  border-radius: 4px;
  color: var(--swm-default-text);
}
.device-select-item[data-highlighted] {
  outline: none;
  background-color: var(--swm-device-select-highlighted);
  cursor: pointer;
}
.device-select-item[data-disabled] {
  color: var(--swm-device-select-disabled-text);
  pointer-events: none;
}

.device-select-rich-item {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  gap: 5px;
  line-height: 1;
  height: 48px;
  border-radius: 4px;
  padding: 0 5px;
}
.device-select-rich-item[data-highlighted] {
  outline: none;
  background-color: var(--swm-device-select-highlighted);
  cursor: pointer;
}
.device-select-rich-item[data-disabled] {
  color: var(--swm-device-select-disabled-text);
  pointer-events: none;
}
.device-select-rich-item-title {
  font-size: 14px;
  color: var(--swm-device-select-rich-item-text);
  margin-bottom: 4px;
  padding-right: 10px;
}
.device-select-rich-item-subtitle {
  font-size: 12px;
  color: var(--swm-device-select-rich-item-subtitle);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 185px;
}
.device-select-rich-item-icon,
.device-select-rich-item-icon-selected {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--swm-default-text);
  background-color: var(--swm-device-icon-background);
}
.device-select-rich-item-icon-selected {
  background-color: var(--swm-device-icon-background-selected);
}

.device-select-label {
  padding: 0 10px;
  font-size: 12px;
  line-height: 25px;
  color: var(--swm-device-select-label);
  user-select: none;
}

.device-select-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
