.device-rename-wrapper {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.device-rename-title {
  margin: 0 0 20px 0;
  font-weight: 500;
  color: var(--swm-default-text);
  font-size: 18px;
}

input.display-name-input {
  width: 100%;
  height: 25px;
  background-color: var(--swm-input-background);
  border: 1px;
  border-radius: 4px;
  line-height: 1;
  box-shadow: var(--swm-input-shadow);
  margin-bottom: 15px;
}

.device-rename-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
}

.device-rename-button {
  width: 100px;
}
