.device-removal-wrapper {
  text-align: center;
  text-wrap: balance;
}

.device-removal-title {
  color: var(--swm-default-text);
  margin-top: 0;
}

.device-removal-subtitle {
  color: var(--swm-secondary-text);
  margin: 16px 0;
}

.device-removal-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
}

.device-removal-button {
  width: 100px;
}
