.device-settings-content {
  padding: 14px;
}

.mirror {
  transform: scale(-1, 1);
}

.device-settings-heading {
  text-align: center;
  margin: 0 0 15px 0;
  color: var(--swm-default-text);
}

.device-settings-center {
  display: flex;
  align-items: center;
}

.device-settings-small-text-indicator {
  font-size: 8px;
  line-height: 1;
  padding-right: 4px;
}

.device-settings-large-text-indicator {
  font-size: 13px;
  line-height: 0.7;
  padding-left: 6px;
}

.device-settings-small-text-indicator::after,
.device-settings-large-text-indicator::after {
  content: "A";
  display: block;
  width: 8px;
  height: 8px;
  color: var(--swm-default-text);
}

.device-settings-margin {
  margin-bottom: 20px;
}

.device-settings-version-text {
  font-size: 80%;
  justify-content: center;
  color: var(--swm-disabled-text);
}

.icons-container {
  display: flex;
  align-items: center;
}

.volume-controls {
  margin-left: auto;
  display: flex;
  gap: 2px;
  align-items: center;
}

.volume-button {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--swm-default-text);
  cursor: pointer;
  padding: 4px;
  font-size: 12px;
  transition: all 0.1s ease;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.volume-button:hover {
  background: var(--swm-dropdown-item-highlighted);
}
