.device-rename-wrapper {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.device-rename-title {
  margin: 0 0 20px 0;
  font-weight: 500;
  color: var(--swm-default-text);
  font-size: 18px;
}

input.device-name-input {
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0.25rem !important; 
}

.device-rename-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
}

.device-rename-button {
  width: 100px;
}
