.dimensions-box {
  background-color: var(--dimensions-box-background);
  position: absolute;
  left: var(--left);
  top: var(--top);
  height: 18px;
  font-size: 10px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transform: var(--box-transform);
  margin: var(--margin);
}

.arrow {
  background-color: var(--dimensions-box-background);
  position: absolute;
  left: var(--left);
  top: var(--top);
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin: var(--margin);
}
