.feedback {
  display: flex;
  gap: 4px;
  --positive-color: var(--green-dark-100);
  --negative-color: var(--red-dark-100);
}

.feedback-button {
  width: 26px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 250ms 0ms ease-in-out;
}

.feedback-button:active {
  transform: scale(0.94);
}

.feedback-button-large:active {
  transform: scale(0.96);
}

.feedback-button:hover span {
  color: var(--swm-icon-button-hover-background);
}

.feedback-button-positive-active span {
  color: var(--green-dark-100) !important;
}

.feedback-button-negative-active span {
  color: var(--red-dark-100) !important;
}

.feedback-button:hover {
  cursor: pointer;
}

.feedback-button-large {
  width: 64px;
  height: 46px;
}

.feedback-button-large span {
  font-size: 24px !important;
}

.feedback-button-positive {
  color: var(--positive-color);
  border: 1px solid var(--positive-color);
}

.feedback-button-positive span {
  color: var(--positive-color);
}

.feedback-button-positive:hover,
.feedback-button-positive-active {
  background-color: var(--positive-color);
}

.feedback-button-negative {
  border: 1px solid var(--negative-color);
}

.feedback-button-negative span {
  color: var(--negative-color);
}

.feedback-button-negative:hover,
.feedback-button-negative-active {
  background-color: var(--negative-color);
}

.feedback-prompt {
  cursor: pointer;
  font-size: 12px;
}
.feedback-prompt:hover {
  text-decoration: underline;
}
