.icon-button-with-options-container {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  border-radius: 2px;
}

.dropdown-arrow {
  font-size: 10px !important;
  opacity: 1;
  transition: opacity 200ms ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}
