.dropdown-menu-content {
  min-width: 50px;
  background-color: var(--swm-popover-background);
  border-radius: 6px;
  padding: 4px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--swm-backdrop-shadow);
  max-width: calc(var(--radix-dropdown-menu-content-available-width) - 10px);
}

.dropdown-menu-content code {
  font-family: monospace;
  font-size: clamp(5px, 5vw, 12px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-label {
  font-size: 12px;
  line-height: 25px;
  padding-left: 5px;
  color: var(--swm-secondary-text);
}

.dropdown-menu-item {
  font-size: clamp(4px, 4vw, 12px);
  line-height: 1;
  color: var(--swm-default-text);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  min-height: 28px;
  padding: 0 6px;
  position: relative;
  user-select: none;
  outline: none;
  margin: 1px 0;
}

.dropdown-menu-item[data-disabled] {
  color: var(--swm-disabled-text);
  pointer-events: none;
}

.dropdown-menu-item[data-highlighted] {
  background-color: var(--swm-dropdown-item-highlighted);
  color: var(--swm-default-text);
  overflow-wrap: anywhere;
}

.dropdown-menu-item .right-slot {
  color: var(--swm-device-select-rich-item-subtitle);
  font-size: 90%;
  margin-left: auto;
  overflow-wrap: anywhere;
  padding-left: 10px;
}
