.inspect-data-menu-content {
  min-width: 50px;
  background-color: var(--swm-popover-background);
  border: var(--swm-dropdown-border);
  box-shadow: var(--swm-dropdown-shadow);
  border-radius: 6px;
  padding: 4px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--swm-backdrop-shadow);
  max-width: calc(var(--radix-dropdown-menu-content-available-width) - 10px);
}

.inspect-data-menu-content code {
  font-family: monospace;
  font-size: clamp(5px, 5vw, 12px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.inspect-data-menu-label {
  font-size: 12px;
  line-height: 25px;
  padding-left: 5px;
  color: var(--swm-secondary-text);
  line-height: 16px;
  margin-bottom: 4px;
}

.inspect-data-menu-item {
  font-size: clamp(4px, 4vw, 12px);
  line-height: 1;
  color: var(--swm-default-text);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  min-height: 28px;
  padding: 0 6px;
  position: relative;
  user-select: none;
  outline: none;
  margin: 1px 0;
}

.inspect-data-menu-item[data-disabled] {
  color: var(--swm-disabled-text);
  pointer-events: none;
}
.inspect-data-menu-item[data-highlighted] {
  background-color: var(--swm-dropdown-item-highlighted);
}

.inspect-data-menu-item .right-slot {
  color: var(--swm-device-select-rich-item-subtitle);
  font-size: 90%;
  margin-left: auto;
  padding-left: 10px;
  max-width: 150px;
  display: flex;
  min-width: 0;
  align-items: center;
}
.inspect-data-menu-item .right-slot .filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.inspect-data-menu-item.show-all {
  height: 15px;
  min-height: 0;
  padding: 3px 6px;
  justify-content: center;
  flex-wrap: nowrap;
}

.inspect-data-menu-item.ask-ai {
  line-height: 1;
  color: var(--swm-default-text);

  width: fit-content;
  height: fit-content;
  min-height: 20px;

  display: flex;
  flex: auto;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  padding: 2px 7px;
  margin: 1px 0;
  position: relative;
  user-select: none;
  outline: none;

  /* Add border gradient anomation on hover */
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #444;
}

.inspect-data-menu-label.ask-ai {
  font-size: clamp(4px, 6vw, 12px);
  padding: 0;
  margin: 0;
  display: flex;
  flex: auto;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.inspect-data-menu-label > .codicon {
  font-size: clamp(4px, 6vw, 14px);
}

.inspect-data-menu-label > .ask-ai-text {
  margin: 0 2px;
}
