.details {
  display: flex;
  position: relative;
  border-right: none;
}

.content-header {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  padding: 0;
}

.details-container {
  box-sizing: border-box;
  background-color: var(--vscode-tree-tableOddRowsBackground);
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 15px;
}

.tabs {
  display: flex;
  justify-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  background-color: var(--vscode-dropdown-background);
}

.content-header > button {
  height: 31px;
  border-radius: 0;
  background-color: var(--vscode-dropdown-background);
}

.tabs > li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 8px;
  cursor: pointer;
  padding-inline: 3%;
  padding-block: 0;
  border-right: 1px solid var(--vscode-input-border);
}

.tabs > li:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.tabs > li.active {
  background-color: var(--vscode-list-activeSelectionBackground);
}

.tabs > li:last-child {
  border-right: none;
}

.tabs > li > p {
  margin: 0;
  font-weight: bold;
  justify-self: center;
  padding: 8px;
}

.selected-tab-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.details-content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.section-header > p {
  margin-left: 10px;
}

.invisible {
  width: 100vw;
  height: 1px;
}

.section-content {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.section-row {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.section-row > p {
  margin-block: 5px;
}

.copy-button {
  position: absolute;
  right: 20px;
  top: 40px;
  background-color: var(--vscode-dropdown-background);
}

.timing-container {
  margin: 20px;
  width: 80%;
}

.timing-bar {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  height: 100%;
}

.request-sent-bar {
  background-color: #add8e6;
}

.response-receive-bar {
  background-color: #90ee90;
}

.timing-section > span {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
