.phone-wrapper {
  flex: 1;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  overflow: auto;
  width: 100%;
  /* height: 100%; */
  position: relative;
  user-select: none;
}

.phone-wrapper:hover,
.phone-wrapper:focus-visible {
  outline: none;
}

.phone-content {
  position: relative;
  display: flex;
  aspect-ratio: var(--phone-aspect-ratio);
  max-width: 100%;
  max-height: 100%;
  /* object-fit: scale-down; */
}

.touch-area {
  position: absolute;
  width: calc(var(--phone-screen-width) + 14px);
  height: var(--phone-screen-height);
  top: var(--phone-top);
  left: calc(var(--phone-left) - 7px);
  user-select: none;
}

.phone-sized {
  position: absolute;
  width: calc(var(--phone-screen-width));
  height: var(--phone-screen-height);
  top: var(--phone-top);
  left: calc(var(--phone-left));
  -webkit-mask-image: var(--phone-mask-image);
  mask-image: var(--phone-mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
  user-select: none;
}

.phone-screen {
  position: absolute;
  width: calc(100% - 14px);
  height: 100%;
  top: 0;
  left: 7px;
  -webkit-mask-image: var(--phone-mask-image);
  mask-image: var(--phone-mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
  user-select: none;
}

.phone-frame {
  pointer-events: none;
}

.extension-error-screen {
  background-color: var(--background-dark-120);
}

.phone-inspect-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  pointer-events: none;
}

.inspect-area {
  position: absolute;
  background-color: var(--inspect-area-background);
}

.phone-debug-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-refreshing-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uncaught-button {
  display: flex;
  align-items: center;
  background-color: #ff6259;
  border-radius: 10px;
  border: 1px solid #e65f50;
  padding: 5px;
  color: #001a72;
}

.phone-exception-overlay {
  background-color: rgba(255, 106, 89, 0.85);
  color: #001a72;
}

.phone-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.phone-content-loading-background {
  background-color: var(--swm-phone-content-loading-background);
}

.touch-indicator {
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  background-color: var(--touch-indicator-background);
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--touch-indicator-border);
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.touch-indicator.pressed {
  background-color: var(--touch-indicator-pressed-background);
  border-color: var(--touch-indicator-pressed-border);
  box-shadow: var(--touch-indicator-pressed-shadow);
}
