.context-menu-content {
  min-width: 220px;
  background-color: var(--swm-popover-background);
  border-radius: 6px;
  padding: 4px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--swm-backdrop-shadow);
  z-index: 40;
}

.context-menu-item {
  font-size: 13px;
  line-height: 1;
  color: var(--swm-default-text);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 6px;
  position: relative;
  user-select: none;
  outline: none;
  gap: 4px;
}

.context-menu-item[data-disabled] {
  color: var(--swm-disabled-text);
  pointer-events: none;
}

.context-menu-item[data-highlighted] {
  background-color: var(--swm-dropdown-item-highlighted);
  color: var(--swm-default-text);
}

.phone-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  position: relative;
  user-select: none;
}

.phone-wrapper:hover,
.phone-wrapper:focus-visible {
  outline: none;
}

.phone-content {
  position: relative;
  display: flex;
  min-height: var(--min-height);
  aspect-ratio: var(--phone-aspect-ratio);
}

.touch-area {
  position: absolute;
  width: calc(var(--phone-screen-width) + 14px);
  height: var(--phone-screen-height);
  top: var(--phone-top);
  left: calc(var(--phone-left) - 7px);
  z-index: 20;
}

.phone-screen {
  position: absolute;
  width: var(--phone-screen-width);
  height: var(--phone-screen-height);
  top: var(--phone-top);
  left: var(--phone-left);
  -webkit-mask-image: var(--phone-mask-image);
  mask-image: var(--phone-mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.phone-frame {
  pointer-events: none;
}

.extension-error-screen {
  background-color: var(--background-dark-120);
}

.phone-inspect-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  pointer-events: none;
  z-index: 30;
}

.inspect-area {
  position: absolute;
  background-color: rgba(56, 172, 221, 0.85);
}

.phone-debug-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.phone-refreshing-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 30;
}

.uncaught-button {
  display: flex;
  align-items: center;
  background-color: #ff6259;
  border-radius: 10px;
  border: 1px solid #e65f50;
  padding: 5px;
  color: #001a72;
  z-index: 30;
}

.phone-exception-overlay {
  background-color: rgba(255, 106, 89, 0.85);
  color: #001a72;
  z-index: 30;
}

.phone-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.phone-content-loading-background {
  background-color: var(--swm-phone-content-loading-background);
}
