.preview-loader-container {
  width: 75%;
  cursor: pointer;
}

.preview-loader-center-pad {
  flex: 1;
}

.preview-loader-waiting-actions {
  position: relative;
  bottom: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
}

.preview-loader-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.preview-loader-message-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-loader-spacer {
  display: flex;
}

.preview-loader-message {
  text-wrap: nowrap;
  width: 100%;
}

.preview-loader-slow-progress {
  text-decoration: underline;
}

.preview-loader-stage-progress {
  color: var(--swm-startup-message);
}
