.preview-loader-container {
  width: 75%;
  cursor: pointer;
}

.preview-loader-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.preview-loader-message-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-loader-spacer {
  display: flex;
}

.preview-loader-message {
  text-wrap: nowrap;
  width: 100%;
}

.preview-loader-stage-progress {
}
