:root {
  --chevron-offset: 16px;
  --chevron-animation-offset: 2px;
}

.send-files-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding: 2px;
  transform: translateX(-2px) translateY(-2px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.send-files-overlay.visible {
  opacity: 1 !important;
}

.send-files-overlay.hidden {
  opacity: 0;
}

.send-files-overlay-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: transparent;
  width: 80%;
  height: 90%;
}

.send-files-overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--swm-debugger-label);
  flex-direction: column;
  border-radius: 20px;
  gap: 8px;
  padding: 16px;
  animation: breathe 2s infinite ease;
}

@keyframes breathe {
  0% {
    width: 80%;
    height: 90%;
  }
  50% {
    width: 81%;
    height: 91%;
  }
  100% {
    width: 80%;
    height: 90%;
  }
}

.send-files-overlay-content p {
  margin: 0;
  color: var(--swm-debugger-label);
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.send-files-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
}
.send-files-icon span {
  color: var(--swm-debugger-label);
  scale: 1.3;
  transform: translateX(-0.5px);
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
