:root {
  --url-select-min-width: 130px;
  --url-select-max-width: 300px;
}

.url-select-trigger {
  box-sizing: border-box;
  display: inline;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  overflow: hidden;
  cursor: pointer;
  height: 36px;
  border: 0px solid transparent;
  border-radius: 18px;
  gap: 5px;
  color: var(--swm-url-select);
  background-color: var(--swm-url-select-background);
  user-select: none;
  min-width: var(--url-select-min-width);
}
.url-select-trigger:hover {
  background-color: var(--swm-url-select-hover-background);
}
.url-select-trigger[data-state="open"] {
  border-radius: 18px 18px 18px 18px;
  box-shadow: var(--swm-focus-outline);
}
.url-select-trigger[data-disabled] {
  background-color: var(--swm-url-select-disabled-background);
  color: var(--swm-secondary-text);
  pointer-events: none;
}
.url-select-trigger:focus {
  box-shadow: var(--swm-focus-outline);
}

.url-select-content {
  overflow: hidden;
  background-color: var(--swm-url-select-background);
  border-radius: 18px 18px 18px 18px;
  transform: translateY(4px);
  padding-bottom: 4px;
  max-width: var(--radix-select-content-available-width);
  max-height: var(--radix-select-content-available-height);
}

.url-select-viewport {
  padding: 6px;
}

.url-select-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-select-label {
  padding: 0 4px 0 4px;
  font-size: 13px;
  line-height: 20px;
}

.url-select-separator {
  height: 1px;
  background-color: var(--swm-url-select-separator);
  margin: 5px;
}

.url-select-item {
  font-size: 13px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  min-height: 30px;
  height: auto;
  padding: 0 4px;
  position: relative;
  border-radius: 4px;
  color: var(--swm-default-text);
}
.url-select-item[data-highlighted] {
  outline: none;
  background-color: var(--swm-url-select-highlighted-background);
  cursor: pointer;
}
.url-select-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(var(--radix-select-content-available-width) - 15px);
}
.url-select-item:hover .url-select-item-text {
  white-space: normal;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media (width <= 385px) {
  .url-select-trigger {
    min-width: 0;
  }
}
