.url-select-wrapper {
  position: relative;
  flex: 1;
  margin-left: 2px;
}

.url-select-input {
  display: inline-flex;
  align-items: center;
  height: var(--swm-button-size);
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  border: 0px solid transparent;
  border-radius: 18px;
  background-color: var(--swm-url-select-background);
  color: var(--swm-url-select);
  box-sizing: border-box;
  cursor: text;
  width: 100%;
  --vscode-settings-textInputBackground: transparent;
}
.url-select-input:hover[data-state="closed"] {
  background-color: var(--swm-url-select-hover-background);
  --vscode-settings-textInputBackground: transparent;
}
.url-select-input:focus[data-state="closed"] {
  box-shadow: var(--swm-focus-outline);
}
.url-select-input[data-state="open"] {
  border-radius: 18px 18px 0 0;
}
.url-select-input:disabled {
  background-color: var(--swm-url-select-disabled-background);
  color: var(--swm-url-select-disabled);
  cursor: not-allowed;
}

.url-select-content {
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: var(--swm-url-select-background);
  border-radius: 0 0 18px 18px;
  max-height: 400px;
  box-shadow: var(--swm-backdrop-shadow);
}

.url-select-viewport {
  padding: 5px;
}

.url-select-label {
  padding: 0 5px;
  font-size: 13px;
  line-height: 20px;
}

.url-select-separator {
  height: 1px;
  background-color: var(--swm-url-select-separator);
  margin: 5px;
}

.url-select-item {
  font-size: 13px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  min-height: 30px;
  height: auto;
  padding: 0 5px;
  position: relative;
  border-radius: 4px;
  color: var(--swm-default-text);
}
.url-select-item:hover,
.url-select-item:focus {
  outline: none;
  background-color: var(--swm-url-select-highlighted-background);
  cursor: pointer;
}
.url-select-group:last-child .url-select-item:last-child {
  border-radius: 4px 4px 12px 12px;
  padding-bottom: 2px;
}

.url-select-item-text {
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.no-top-margin {
  margin-top: 0;
}

@media (width <= 325px) {
  .url-select-wrapper {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
