.zoom-controls {
  background-color: var(--swm-zoom-controls-background);
  border-radius: 18px;
  min-width: 75px;
  display: flex;
  justify-content: space-between;
}

.zoom-controls button span {
  transition: all 200ms 0ms ease-in-out;
}

.zoom-controls button:hover span {
  transform: scale(1.15);
}
