.menuIcon {
  display: none;
}

@media (max-width: 830px) {
  .menuIcon {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
