.compatibilityInfoWrapper {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: var(--swm-off-white);
  align-items: center;
  justify-content: space-between;
  text-wrap: balance;
}

.link {
  text-decoration: underline;
}

.compatibilityInfo {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .compatibilityInfoWrapper {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .compatibilityInfo {
    font-size: 16px;
  }
}
