.container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media (max-width: 1360px) {
  .container {
    padding: 24px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}
