.container {
  display: flex;

  align-self: stretch;
  padding: 80px 0 80px 80px;
  justify-content: space-between;
  align-items: stretch;
  gap: 80px;
  min-height: 740px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.imageBackground {
  background-color: var(--radon-gradient-green);
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 760px;
  aspect-ratio: 760 / 560;
  max-height: 560px;
}

.imageContainer {
  position: relative;
  max-width: 721px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 41px;
  left: 40px;
}

.imageContainer img {
  position: absolute;
  top: 0;
  max-width: 1150px;
  width: 160%;
  aspect-ratio: 1150/647;
}

.video {
  width: 100%;
}

.videoLight {
  display: none;
}

.videoDark {
  display: none;
}

@media (prefers-color-scheme: light) {
  .videoLight {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .videoDark {
    display: block;
  }
}

[data-theme="light"] .videoLight {
  display: block;
}

[data-theme="light"] .videoDark {
  display: none;
}

[data-theme="dark"] .videoLight {
  display: none;
}

[data-theme="dark"] .videoDark {
  display: block;
}

.rightWindow img {
  right: 0;
}

@media (max-width: 1270px) {
  .sliderContainer {
    height: 580px;
  }
}

@media (max-width: 1220px) {
  .sliderContainer {
    height: 653px;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-wrap: wrap-reverse;
    justify-content: right;
    padding: 40px 0;
    gap: 40px;
  }

  .imageBackground {
    position: static;
    justify-self: end;
    margin-left: 30px;
    aspect-ratio: 333/275;
  }

  .sliderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    height: 420px;
  }
  .imageContainer img {
    width: 170%;
  }
}

@media (max-width: 830px) {
  .imageContainer {
    top: 20px;
    left: 18.5px;
    max-width: 741px;
  }
}
