.testimonialsContainer {
  column-count: 3;
  padding: 0 60px 80px;
  column-gap: 20px;
  position: relative;
}

.testimonialsHeading {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  padding: 60px 80px;
  color: var(--ifm-color-primary);
}
.gradientStart {
  position: absolute;
  max-width: 1360px;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    var(--radon-color-black) 0%,
    var(--radon-gradient-black) 100%
  );
  left: 0;
  top: -38px;
}
.gradientEnd {
  position: absolute;
  max-width: 1360px;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    var(--radon-gradient-black) 0%,
    var(--radon-color-black) 100%
  );
  bottom: 0;
  left: 0;
}
