:root {
  --swm-expandable-transition: transform 200ms ease;
  --swm-logo-height: 36px;
  --swm-sidebar-header-height: 68px;
}

table {
  display: table;
  width: 100%;
}

@media (max-width: 1280px) {
  table {
    display: block;
    width: 100%;
  }
}

table thead tr {
  border-bottom: 1px solid var(--ifm-table-border-color);
}

.platform-compatibility table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.compatibility {
  overflow-x: auto;
}

.compatibility table {
  display: table;
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

.compatibility td {
  padding: 0;
  border: transparent 2px solid;
  background: var(--ifm-background-color);
  text-align: center;
}

.compatibility th {
  background: var(--ifm-background-color);
  border: transparent 2px solid;
}

[class*="codeBlockContent"] pre {
  border: 1px solid var(--radon-border);
}

[class*="codeBlockContainer"] {
  box-shadow: none !important;
}

[class*="codeBlockContent"] pre,
[class*="codeBlockContent"] code {
  border-radius: 0;
  background-color: var(--swm-off-background);
}

/* Add small padding, when some of the lines are too long in a code block */
[class*="codeBlockLines"] span:last-of-type {
  margin-right: 1em;
}

.phone-table-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 32px;
  flex-wrap: wrap;
  gap: 16px; 
}

.phone-table {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  flex: 1 0 300px;
  max-width: 500px; 
}

.phone-table table {
  max-width: 400px;
  table-layout: fixed;
  display: table;
}

.theme-doc-version-badge {
  color: var(--swm-version-badge);
  background: var(--swm-version-badge-background);
  padding: 6px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
}

[class*="plugin-docs"] .navbar {
  background-color: var(--ifm-background-color);
}

[class*="footer__link-item"] {
  color: var(--swm-navy-light-60);
}

.header-download {
  border: 1px solid;
}

@media (max-height: 768px) {
  .header-github:before {
    height: 20px;
    width: 20px;
  }
}

[class*="navbar__item"] {
  display: flex !important;
}
[class*="navbar__item"] {
  justify-content: center;
}

[class*="plugin-pages"] [class*="hireUsContainer"] {
  display: none;
}

nav [class*="_sidebarFooter"] {
  display: none;
}

nav [class*="navbar-sidebar__items"] {
  height: calc(100% - var(--swm-sidebar-header-height));
}

img + blockquote {
  margin: var(--ifm-spacing-vertical) 0;
}

div[class^="announcementBar_"] {
  font-size: 20px;
  height: 36px;

  color: var(--swm-navy-light-100);
  font-weight: 500;
  border-bottom: 1px solid var(--radon-border);
  border-top: 1px solid var(--radon-border);
  background-color: var(--swm-off-background);
}

@media (max-width: 768px) {
  div[class^="announcementBar_"] {
    font-size: 15px;
    height: 32px;
  }

  .compatibility table {
    table-layout: auto;
  }
}

.shadow-image {
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 0.6);
}

video.shadow-image,
img.shadow-image {
  margin-bottom: 32px !important;
}

.rounded-xl {
  border-radius: 20px;
}

[class*="DocSearch-Footer"] {
  margin-top: 0 !important;
}

.changelog-item {
  max-width: calc(100% - 32px) !important;
  margin-left: 32px !important;
}

[class*="docsWrapper"] {
  justify-content: center;
}

[class*="docRoot"] {
  max-width: 1360px;
  border-left: var(--radon-border-layout);
  border-right: var(--radon-border-layout);
  justify-content: space-between;
}

main[class*="docMainContainer"] div.container {
  padding: 0;
}

main[class*="docMainContainer"] div.container[class*="padding-top"] {
  padding-top: 0 !important;
}

main[class*="docMainContainer"] div.container[class*="padding-bottom"] {
  padding-bottom: 0 !important;
}

main[class*="docMainContainer"] .row {
  margin: 0;
  justify-content: space-between;
}
main[class*="docMainContainer"] .row .col {
  padding: 0;
}
main[class*="docMainContainer"] .row .col--6 {
  padding: 10px;
}

[class*="docItemContainer"] {
  padding: 40px;
}

[class*="sidebar"] {
  background-color: transparent !important;
  max-width: 250px;
}

nav.menu {
  border-right: var(--radon-border-layout);
  width: 250px;
}

a.menu__link {
  color: var(--ifm-color-primary);
  opacity: 0.75;
  font-weight: 400;
}

[class*="menu__list-item-collapsible"] a {
  color: var(--ifm-color-primary) !important;
}

a[class*="menu__link"]:not([class*="active"]):hover {
  color: var(--ifm-color-primary);
  opacity: 1;
}

a.menu__link--active {
  color: var(--radon-active-tab) !important;
  text-decoration: none;
  opacity: 1;
}

a.menu__link--active:hover {
  text-decoration: none;
}

.table-of-contents__link span {
  color: var(--ifm-color-primary);
  opacity: 0.75;
}

[class*="tocItems"] [class*="active"] span {
  text-decoration: none !important;
  color: var(--radon-active-tab);
  opacity: 1;
}

[class*="tocItems"] span {
  font-weight: 400 !important;
}

[class*="tocItems"] span:hover {
  opacity: 1 !important;
}

.table-of-contents__link:hover {
  color: var(--ifm-color-primary);
}

div[class*="hireUsContainer"] {
  border-top: var(--radon-border-layout);
  border-bottom: var(--radon-border-layout);
  border-left: none;
  border-right: none;
  background-color: transparent;
}

div[class*="hireUsContainer"] p {
  color: var(--radon-subheading);
  font-weight: 400;
}

[data-theme="dark"] div[class*="hireUsContainer"] {
  border-top: var(--radon-border-layout);
  border-bottom: var(--radon-border-layout);
  border-left: none;
  border-right: none;
}

[data-theme="dark"] div[class*="hireUsContainer"] p {
  color: var(--radon-subheading);
  font-weight: 400;
}

[class*="buttonTOCStyling"] {
  background-color: var(--radon-button) !important;
}

[class*="buttonTOCStyling"]:hover {
  background-color: var(--radon-button-hover) !important;
  color: var(--radon-button-text) !important;
}

[class*="buttonTOCBorderStyling"] {
  border: var(--radon-border-layout) !important;
}

[class*="buttonTOCStyling"]:hover svg {
  stroke: var(--radon-button-text) !important;
}

.col[class*="col--3"] {
  border-left: var(--radon-border-layout);
  width: 275px;
}

[class*="paginationArrow"] img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(103%) contrast(103%);
}

.table-of-contents {
  padding: 20px !important;
}

[class*="generatedIndexPage"] {
  padding: 40px;
}

[class*="generatedIndexPage"] article section.row article {
  border: none;
}

[class*="generatedIndexPage"] article section.row article.col--6 a {
  border: var(--radon-border-layout);
  height: 100%;
}

[class*="generatedIndexPage"] header h1[class*="title"] {
  padding-left: 10px;
}

@media (max-width: 1360px) {
  [class*="docRoot"] {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 430px) {
  [class*="generatedIndexPage"] {
    padding: 40px 24px;
  }
}

@media (min-width: 997px) {
  [class*="docSidebarContainer"] {
    width: 100% !important;
  }
  [class*="docMainContainer"] {
    max-width: calc(100% - 250px) !important;
  }
  [class*="generatedIndexPage"][class*="generatedIndexPage"] {
    padding: 40px;
    max-width: none !important;
    width: 100%;
  }
}

button {
  border: none;
  background-color: transparent;
  font-family: Aeonik;
}

[class*="margin-vert"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
}

[class*="mdxPageWrapper"] {
  width: 1360px;
  border-left: var(--radon-border-layout);
  border-right: var(--radon-border-layout);
  justify-content: space-between !important;
}

[class*="mdxPageWrapper"] > .col--8 {
  padding: 80px;
  max-width: 1110px;
  --ifm-col-width: 100%;
  flex: 1;
  min-height: calc(100vh - 365px);
}

[class*="mdxPageWrapper"] > .col--2 {
  width: 240px;
  padding: 0;
  border-left: var(--radon-border-layout);
  flex: 1;
}

.container--fluid {
  max-width: 1360px !important;
}

@media (max-width: 1360px) {
  [class*="mdxPageWrapper"] {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 997px) {
  [class*="mdxPageWrapper"] > .col--8 {
    flex: initial;
  }
}
@media (max-width: 800px) {
  [class*="mdxPageWrapper"] > .col--8 {
    padding: 40px 24px;
  }
}
