:root {
  --swm-expandable-transition: transform 200ms ease;
  --swm-logo-height: 36px;
  --swm-sidebar-header-height: 68px;
}

table {
  display: table;
  width: 100%;
}

@media (max-width: 1280px) {
  table {
    display: block;
    width: 100%;
  }
}

table thead tr {
  border-bottom: 1px solid var(--ifm-table-border-color);
}

.platform-compatibility table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.compatibility {
  overflow-x: auto;
}

.compatibility table {
  display: table;
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

.compatibility td {
  padding: 0;
  border: transparent 2px solid;
  background: var(--ifm-background-color);
  text-align: center;
}

.compatibility th {
  background: var(--ifm-background-color);
  border: transparent 2px solid;
}

[class*="codeBlockContent"] pre {
  border: 1px solid var(--swm-border);
}

[class*="codeBlockContainer"] {
  box-shadow: none !important;
}

[class*="codeBlockContent"] pre,
[class*="codeBlockContent"] code {
  border-radius: 0;
  background-color: var(--swm-off-background);
}

/* Add small padding, when some of the lines are too long in a code block */
[class*="codeBlockLines"] span:last-of-type {
  margin-right: 1em;
}

.theme-doc-version-badge {
  color: var(--swm-version-badge);
  background: var(--swm-version-badge-background);
  padding: 6px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
}

[class*="plugin-docs"] .navbar {
  background-color: var(--ifm-background-color);
}

[class*="footer__link-item"] {
  color: var(--swm-navy-light-60);
}

.header-github:before {
  display: flex;
  height: 24px;
  width: 24px;

  mask: url(/static/img/github.svg) no-repeat 100% 100%;
  mask-size: cover;
  content: "";
}

@media (max-height: 768px) {
  .header-github:before {
    height: 20px;
    width: 20px;
  }
}
.header-github:before,
.header-github:hover:before {
  background-color: var(--swm-navy-light-100);
}

[class*="navbar__item"] {
  display: flex !important;
}

[class*="colorModeToggle"] {
  display: none;
}
[class*="plugin-pages"] [class*="hireUsContainer"] {
  display: none;
}

nav [class*="_sidebarFooter"] {
  display: none;
}

nav [class*="navbar-sidebar__items"] {
  height: calc(100% - var(--swm-sidebar-header-height));
}

img + blockquote {
  margin: var(--ifm-spacing-vertical) 0;
}

div[class^="announcementBar_"] {
  font-size: 20px;
  height: 36px;

  color: var(--swm-navy-light-100);
  font-weight: 500;
  border-bottom: 1px solid var(--swm-border);
  border-top: 1px solid var(--swm-border);
  background-color: var(--swm-off-background);
}

@media (max-width: 768px) {
  div[class^="announcementBar_"] {
    font-size: 15px;
    height: 32px;
  }

  .compatibility table {
    table-layout: auto;
  }
}

.shadow-image {
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(66, 68, 90, 0.6);
}

video.shadow-image,
img.shadow-image {
  margin-bottom: 32px !important;
}

[class*="DocSearch-Footer"] {
  margin-top: 0 !important;
}

.changelog-video {
  max-width: calc(100% - 32px);
  margin-left: 32px;
}
