li {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

ul {
  list-style-type: none;
  max-width: 60%;
  padding: 0;
}

th {
  white-space: "no-wrap";
}

td {
  text-align: center;
  min-width: 25px;
}

.description {
  text-align: left;
}

.section {
  margin-top: 12px;
}
