.edit-device-form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  margin-top: 16px;
}

.form-row {
  width: 80%;
  margin-bottom: 16px;
}

.form-label {
  width: 100%;
  margin-bottom: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-field {
  color: var(--swm-default-text);
  width: 100%;
}

.form-field:disabled {
  color: var(--swm-select-disabled);
  background-color: var(--swm-select-disabled-background);
}

.dropdown .listbox {
  max-height: 300px !important;
  overflow-y: scroll;
}

.dropdown-separator {
  width: 100%;
  margin: 4px 0px;
  height: 1px;
  background-color: var(--swm-separator);
}

input.device-name-input {
  width: 100%;
  height: 25px;
  background-color: var(--swm-input-background);
  color: var(--swm-default-text);
  border: 0px solid;
  border-radius: 4px;
  line-height: 1;
  box-shadow: var(--swm-input-shadow);
  padding-left: 8px;
  box-sizing: border-box;
}

input.device-name-input:disabled {
  background-color: var(--swm-select-disabled-background);
}

input.device-name-input::placeholder {
  color: var(--swm-select-disabled);
}

.button-panel {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: flex-end;
}

.submit-rejection-message {
  color: var(--red-light-100);
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
