.location-controls label {
  color: var(--swm-default-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-controls .picker {
  display: flex;
  justify-content: space-between;
  /* padding: 7px; */
}

.location-controls input.coordinate {
  flex: 1;
  height: 20px;
  align-self: right;
  /* margin-left: 5px; */
  margin-right: 5px; /* Add margin-right for padding between input and select */
  background-color: var(--swm-input-background);
  border: 1px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  box-shadow: var(--swm-input-shadow);
  padding: 0 6px;
}

.location-controls select.direction {
  width: 30px;
  color: inherit;
  height: 20px;
  background-color: var(--swm-select-background);
  border: 1px;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: var(--swm-select-shadow);
  line-height: 1;
  margin-left: 10px; /* Or add it to select if you prefer */
}

.location-controls button {
  margin: 16px auto 0;
}

.select-disable-location {
  width: 50px;
  color: var(--swm-default-text);
  height: 20px;
  background-color: var(--swm-select-background);
  border: 1px;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: var(--swm-select-shadow);
  line-height: 1;
}
