.devices-not-found-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devices-not-found-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.devices-not-found-title {
  color: var(--swm-default-text);
}

.devices-not-found-subtitle {
  color: var(--swm-default-text);
  margin-bottom: 32px;
}

.devices-not-found-quick-action {
  width: 150px;
}

.devices-not-found-icon {
  padding: 24px;
  background-color: var(--swm-devices-not-found-icon-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devices-not-found-icon > svg {
  width: 120px;
  height: 120px;
}

.devices-not-found-button-spinner {
  width: 16px;
  height: 16px;
}

@media (max-height: 500px) {
  .devices-not-found-title {
    margin: 10px;
  }
    .devices-not-found-subtitle {
      margin: 20px;
    }
  .devices-not-found-icon {
    padding: 12px;
  }
  .devices-not-found-icon > svg {
    width: 60px;
    height: 60px;
  }
  .devices-not-found-button-group {
    width: 70%;
    gap: 10px;
  }
}
