.location-controls label {
  color: var(--swm-default-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.coordinate-label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.picker {
  display: flex;
  color: var(--swm-default-text);
  justify-content: space-between;
}

input.coordinate {
  flex: 1;
  margin-right: 5px; /* Add margin-right for padding between input and select */
}

input.coordinate:disabled {
  color: var(--swm-disabled-text);
}

.submit-rejection-message {
  color: var(--red-light-100);
  font-size: 11px;
  text-align: center;
}

.supported-formats {
  padding-left: 5px;
  padding-right: 5px;
}

.supported-formats li {
  margin-bottom: 5px;
}
