.location-controls label {
  color: var(--swm-device-title);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-controls .picker {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.location-controls input.coordinate {
  flex: 1;
  height: 20px;
  align-self: right;
  margin-left: 5px;
  margin-right: 5px; /* Add margin-right for padding between input and select */
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  padding: 0 10px;
}

.location-controls select.direction {
  width: 30px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  margin-left: 10px; /* Or add it to select if you prefer */
}

.location-controls button {
  margin: 16px auto 0;
}
