.diagnostic-container {
  margin: 12px 15px 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.diagnostic-item {
  display: flex;
  align-items: center;
  margin: 6px 2px;
}

.diagnostic-item-text {
  margin: 0;
  margin-left: 8px;
  width: 100%;
  font-size: 13px;
  color: var(--swm-default-text);
}

.diagnostic-item-info-icon {
  color: var(--swm-default-text);
  cursor: pointer;
}

.diagnostic-icon {
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagnostic-item-error {
  color: var(--vscode-testing-iconErrored);
  margin: 6px 0;
  margin-right: 6px;
  line-height: 1.2;
}

.diagnostic-item-error a {
  color: var(--vscode-testing-iconErrored);
}

.diagnostic-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}

.diagnostic-error-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.diagnostic-section-margin {
  margin-bottom: 24px;
}
