.input-configuration {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 1;
  height: 26px;
  gap: 5px;
  color: var(--swm-default-text);
  background-color: var(--swm-input-background);
  box-shadow: var(--swm-select-shadow);
  border: 1px solid var(--swm-input-border);
  margin-bottom: 5px;
}

.input-configuration:focus{
  outline-color: var(--swm-focus-outline-color);;
}

.scheme {
  margin-bottom: 5px;
}
.setting-description {
  font-size: 10px;
  margin-bottom: 5px;
}

.launch-configuration-container {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  padding-left: 2.5%;
  margin: 12px 0 0 0;
}

.launch-configuration-section-margin {
  margin-bottom: 10px;
}
