.input-configuration {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 1;
  height: 26px;
  width: 100%;
  gap: 5px;
  color: var(--swm-default-text);
  background-color: var(--swm-select-background);
  box-shadow: var(--swm-select-shadow);
  margin-bottom: 5px;
}

.setting-item-category {
  opacity: 0.7;
}

.scheme {
  margin-bottom: 5px;
}
.setting-description {
  font-size: 10px;
  margin-bottom: 5px;
}

.launch-configuration-group {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  padding-left: 2.5%;
  margin: 12px 0 0 0;
}

.launch-configuration-section-margin {
  margin-bottom: 10px;
}

.launch-configuration-confirmation-title {
  color: var(--swm-default-text);
  margin-top: 0;
}

.launch-configuration-button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.launch-configuration-button-group > button {
  height: 32px;
  margin-left: 10px;
}

.launch-configuration-modal {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
}

.launch-configuration-container {
  display: flex;
  flex: 1;
  height: 0;
  flex-direction: column;
}
