.dropdown {
  width: 300px;
  margin-right: 12px;
}

.container {
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.delete-icon {
  color: var(--swm-device-delete-icon);
}

.device-row {
  display: grid;
  grid-template-columns: 32px 1fr 36px;
  align-items: center;
  gap: 10px;
  line-height: 1;
  height: 48px;
  padding: 2px 10px 2px 2px;
  border-radius: 6px;
}

.device-row:hover {
  outline: none;
  background-color: var(--swm-device-select-highlighted);
}

.device-label-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px;
}
.device-label {
  display: flex;
  flex-direction: column;
  min-width: 0;
  cursor: default;
}
.device-title {
  font-size: 14px;
  color: var(--swm-device-title);
  margin-bottom: 4px;
}
.device-subtitle {
  font-size: 12px;
  color: var(--swm-device-subtitle);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.device-label:hover .device-subtitle {
  white-space: normal;
}
.device-icon, .device-icon-selected {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--swm-device-icon);
  background-color: var(--swm-device-icon-background);
}
.device-icon-selected {
  color: var(--swm-device-icon);
  background-color: var(--swm-device-icon-background-selected);
}
.device-button-group {
  display: flex;
  gap: 5px;
  align-items: center;
}

.warning {
  color: var(--swm-device-warning-icon) !important;
}

.create-button {
  margin: 16px auto 0;
}

.create-button-text {
  margin-left: 4px;
  text-wrap: nowrap;
}
