.deep-link-search-select {
  margin-top: 12px;
}

.submit-button-container {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.checkbox-container {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--swm-default-text);
}
