.paywall-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

.paywall-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.paywall-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.paywall-benefits {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  text-align: left;
}

.paywall-benefit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.paywall-benefit .codicon-check {
  color: var(--vscode-button-background);
  font-size: 16px;
  flex-shrink: 0;
}

.subscription-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.subscription-option {
  padding: 16px;
  border: 2px solid var(--vscode-foreground);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--vscode-input-background);
  user-select: none;
}

.subscription-option:hover {
  border-color: var(--vscode-button-background);
}

.subscription-option.selected {
  border-color: var(--vscode-button-background);
  background-color: var(--vscode-button-hoverBackground);
  color: var(--vscode-button-foreground);
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plan-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.plan-saving {
  display: inline-block;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-size: 12px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  vertical-align: middle;
}

.plan-price {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.plan-price span {
  font-weight: 700;
  font-size: 18px;
}

.plan-description {
  text-align: left;
  font-size: 14px;
}

.continue-button {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  height: unset;
}

.paywall-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20%;
  right: -50%;
  z-index: -1;
}

.paywall-background-image path {
  stroke: var(--vscode-badge-background);
}
