.button-group-top,
.button-group-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px;
  gap: 4px;
}

.button-group-top-left,
.button-group-top-right {
  display: flex;
  flex-direction: row;
}

.button-group-top-left {
  flex: 1;
}

.icons-rewind:before {
  width: 0px;
  margin: -4px;
}

.feedback-button {
  color: var(--swm-disabled-text);
}

.button-group-bottom {
  margin-top: 8px;
}

.bar-spacer {
  flex: 1;
  max-height: 45px;
}

.group-separator {
  width: 1px;
  background-color: var(--divider-background);
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.spacer {
  flex: 1;
}

.icons-container {
  display: flex;
  align-items: center;
}

.dropdown-separator {
  width: 100%;
  margin: 4px 0px;
  height: 1px;
  background-color: var(--swm-separator);
}

.missing-device-filler {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.device-select {
  min-width: 200px;
}

.button-recording:not(.button-recording-on) {
  width: 0;
}

.button-recording-on,
.button-recording-on:hover {
  background-color: var(--swm-button-recording-on-background);
  color: var(--swm-button-recording-on);
  border: 1px solid var(--swm-button-counter-border);
  border-radius: 10px;
  width: auto;
  padding: 0 8px;
}

.button-recording-on > span {
  margin-right: 6px;
}

.recording-rec-indicator {
  display: flex;
  align-items: center;
  font-size: 120%;
  font-family: "Courier new", fixed;
}

.icon-red {
  color: red;
  font-size: 24px;
  scale: 2.8;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.recording-rec-dot {
  width: 15px;
  height: 15px;
  background-color: red;
  align-self: center;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

.app-device-group {
  border: 0px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 18px;
  height: var(--swm-button-size);
  background-color: var(--swm-device-select-trigger);
  color: var(--swm-device-select-trigger-text);
  user-select: none;
  min-width: 0;
  flex-shrink: 1;
}

.activate-license-button::before {
  content: "Activate License";
  text-wrap: nowrap;
}

@media (max-width: 400px) {
  .activate-license-button::before {
    content: "Activate";
  }
}

@media (max-width: 385px) {
  .button-group-top,
  .button-group-bottom {
    gap: 2px;
  }
}
