.button-group-top,
.button-group-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
  gap: 4px;
}

.icons-rewind:before {
  width: 0px;
  margin: -4px;
}

.button-group-top {
  margin-bottom: 8px;
}

.feedback-button {
  color: var(--swm-disabled-text);
}

.button-group-bottom {
  margin-top: 8px;
}

.bar-spacer {
  flex: 1;
  max-height: 45px;
}

.group-separator {
  width: 1px;
  background-color: var(--divider-background);
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.spacer {
  flex: 1;
}

.icons-container {
  display: flex;
  align-items: center;
}

.dropdown-separator {
  width: 100%;
  margin: 4px 0px;
  height: 1px;
  background-color: var(--swm-separator);
}

.missing-device-filler {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.device-select {
  min-width: 200px;
}

.button-recording-on,
.button-recording-on:hover {
  background-color: var(--swm-button-recording-on-background);
  border-radius: 10px;
  width: auto;
  padding: 0 5px 0 8px;
}

.recording-rec-indicator {
  display: flex;
  align-items: center;
  color: white;
  font-size: 120%;
  filter: blur(0.4px);
  font-family: "Courier new", fixed;
}

.recording-rec-dot {
  width: 13px;
  height: 13px;
  background-color: red;
  align-self: center;
  border-radius: 50%;
  margin-right: 6px;
}

@media (max-width: 385px) {
  .button-group-top,
    .button-group-bottom {
      gap: 2px;
    }
}