.radon-connect-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radon-connect-text {
  color: var(--swm-default-text);
}

.radon-connect-subtitle {
  color: var(--swm-default-text);
  margin-bottom: 32px;
}

.radon-connect-icon {
  padding: 24px;
  background-color: var(--swm-devices-not-found-icon-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radon-connect-icon:before {
  font-size: 130px;
  color: var(--swm-devices-not-found-icon)
}

.radon-connect-icon > svg {
  width: 120px;
  height: 120px;
}

.radon-connect-icon.connected {
  background-color:var(--swm-device-icon-background-selected)
}
