.panel-view {
  box-sizing: border-box;
  display: flex;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

.panel-view ::selection {
  background: transparent;
}
