.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-left: var(--radon-border-layout);
  justify-content: space-between;
}
.planDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planName {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--radon-text-green-highlight);
}

.priceDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--radon-subheading);
}

.priceDescription span {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--ifm-color-primary);
}
