.dropdown {
    width: 300px;
    margin-right: 12px;;
}

.container {
    margin: 12px 4px;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
}

.delete-icon {
    color: var(--red-dark-80)
}

.gap-right {
    margin-right: 12px;
}

.non-exsiting-system-image-warning {
    display: flex;
    align-items: center;
    color: var(--vscode-debugIcon-stopForeground);
}

.platform-header {
    color: var(--secondary-text);
    margin: 8px 0;
}

.platform-section-separator {
    height: 1px;
    background-color: var(--separator);
}

.device-row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.device-label-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
}

.device-label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
}

.warning {
    color: var(--yellow-dark-100) !important;
}

.create-button {
    margin: 0 auto;
}

.create-button-text {
    margin-left: 4px;
    text-wrap: nowrap;
}
