.spacer {
  display: flex;
  flex: 1;
  justify-content: center;
}
.spacerBorder {
  flex: 1;
  max-width: 1360px;
  border-right: 1px solid var(--swm-border);
  border-left: 1px solid var(--swm-border);
}
