.ascii-christmas-tree {
  font-family: monospace;
  font-size: 10px;
  line-height: 1;
  margin: 0;
  padding: 0;
  white-space: pre;
  user-select: none;
  text-align: center;
}

.tree-row {
  display: block;
  white-space: pre;
}

.preview-loader-tree-container {
  filter: contrast(0.5);
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  pointer-events: none;
}
