.buttonLink,
.buttonLinkEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  cursor: pointer;
}

.buttonCard {
  font-size: 18px;
  padding: 16px;
  height: 60px;
}

.buttonTable {
  font-size: 16px;
  padding: 8px 12px;
  height: 40px;
}

.buttonLink {
  background: var(--radon-button);
  color: var(--radon-button-text);
}

.buttonLinkEmpty {
  background: transparent;
  border: 1px solid var(--ifm-color-primary);
}

.buttonLink:hover {
  background-color: var(--radon-button-hover);
  color: var(--radon-button-text);
}
.buttonLinkEmpty:hover {
  opacity: 0.75;
}

@media (max-width: 767px) {
  .buttonCard {
    font-size: 16px;
  }
}
