.buttonLink,
.buttonLinkEmpty {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.buttonLink {
  background: var(--radon-button);
  color: var(--radon-button-text);
}

.buttonLinkEmpty {
  background: transparent;
  border: 1px solid var(--ifm-color-primary);
}

.buttonLink:hover {
  background-color: var(--radon-button-hover);
  color: var(--radon-button-text);
}
.buttonLinkEmpty:hover {
  opacity: 0.75;
}
