:root {
  --phone-content-margins: 4% 0% 0% 5%;
  --phone-content-height: 95%;
  --phone-content-width: 90%;
  --phone-content-border-radius: 12% / 6%;
  --phone-content-aspect-ratio: 9/19.5;
}

html, body, #root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.05);
}

.log-counter {
  background-color: #38ACDD;
  border-radius: 50%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: #001a72;
}

.bar-spacer {
  flex: 1;
  max-height: 45px;
}

.group-separator {
  width: 1px;
  background-color: red;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.phone-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;

  width: 100%;
  min-height: 650px;
  position: relative;
}

.phone-content {
  display: flex;
  overflow: auto;

  position: relative;
}

.phone-sized {
  height: var(--phone-content-height);
  width: var(--phone-content-width);
  margin: var(--phone-content-margins);
  border-radius: var(--phone-content-border-radius);
}

.phone-frame {
  pointer-events: none;
}

.phone-screen {
  position: absolute;
  top: 0;
}

.phone-debug-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-exception-overlay {
  background-color: rgba(255,106,89,0.85);
  color: #001A72;
}

.continue-button, .uncaught-button {
  background-color: #ff6259;
  border-radius: 10px;
  border: 1px solid #E65F50;
  padding: 5px;
  color: #001a72;
}

.continue-button {
  background-color: #87cce8;
  border-color: #38acdd;
}

.continue-button::before {
  display: block;
}

.phone-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255,255,255,0.15);
  z-index: -1;
}

.spacer {
  flex: 1;
}

.button-group-top, .button-group-bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: calc(100% - 20px);

  margin: 10px;
  gap: 4px;
  position: absolute;
}

.button-group-top {
  top: 0;
}

.button-group-bottom {
  bottom: 0;
}

vscode-dropdown > .codicon {
  margin-left: -4px;
}

.logs {
  display: flex;
  flex-direction: column-reverse;
  min-height: 0;
  width: calc(100% - 6px);
  font-family: Menlo, Monaco, 'Courier New', monospace;

  background-color: var(--dropdown-background);
}

.url-bar {
  min-width: 60%;
  background: var(--dropdown-background);
  height: 16px;
  text-align: start;
  vertical-align: middle;
  color: var(--dropdown-foreground);
  font-size: 16px;
  line-height: 16px;
  margin: 8px;
  padding: 8px 0;
  padding-left: 8px;
  font-family: var(--font-family);
  border-radius: 10px;
  opacity: 0.5;
}

.url-bar .codicon-close {
  float: right;
  margin-right: 5px;
}
