main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.phone-wrapper {
  position: relative;
  padding: 15px 17px 13px;
}

.phone-content {
  width: 299px;
  height: 648px;
  height: auto;
  border-radius: 20px;
}

.phone-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
