:root {
  --phone-content-margins: 4% 0% 0% 5%;
  --phone-content-height: 95%;
  --phone-content-width: 90%;
  --phone-content-border-radius: 12% / 6%;
  --phone-content-aspect-ratio: 9/19.5;
}

html, body, #root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
}

.phone-wrapper {
  display: flex;
  justify-content: center;
  overflow: auto;

  width: 100%;
  position: relative;
}

.phone-content {
  display: flex;
  overflow: auto;

  position: relative;
}

.phone-sized {
  height: var(--phone-content-height);
  width: var(--phone-content-width);
  margin: var(--phone-content-margins);
  border-radius: var(--phone-content-border-radius);
}

.phone-frame {
  pointer-events: none;
}

.phone-screen {
  position: absolute;
  top: 0;
}

.phone-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255,255,255,0.15);
  z-index: -1;
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin: 10px;
  gap: 4px;
}

vscode-dropdown > .codicon {
  margin-left: -4px;
}

.logs {
  display: flex;
  flex-direction: column-reverse;
  min-height: 0;
  width: calc(100% - 6px);

  background-color: var(--dropdown-background);
}
