.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  padding: 10px;
}
.cardContainer button {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
}

.cardBadge {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;

  background: var(--badge-background, #333);
}
.cardBadge p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.cardTitle {
  font-size: 28px;
  line-height: normal;
  display: flex;
  justify-content: left;
}

.cardContent {
  color: var(--radon-subheading);
  font-size: 18px;
  line-height: 28px;
}

.hideContainer {
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.progressContainer {
  margin: 40px auto;
  width: 500px;
  text-align: center;
}

.progress {
  padding: 4px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progressBar {
  height: 6px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progressMoved .progressBar {
  width: 100%;
  background-color: var(--radon-gradient-green);
  animation: progressAnimation 10s infinite;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: var(--radon-gradient-green);
  }
  100% {
    width: 100%;
    background-color: var(--radon-gradient-green);
  }
}
