.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.verticalButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

@media (max-width: 580px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
}
