.secondaryButton {
  font-weight: 400;
  font-size: 18px;
  display: inline-flex;
  height: 60px;

  cursor: pointer;

  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;

  background-color: var(--radon-button-tertiary);
  color: var(--radon-button-text);

  padding: 16px;
  gap: 12px;
  line-height: 28px;
  border: none;
  z-index: 10;
}

.secondaryButton:hover {
  background-color: var(--radon-button);
}
