.secondaryButton {
  font-weight: 400;
  font-size: 18px;
  display: inline-flex;
  height: 60px;

  cursor: pointer;

  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;

  text-wrap: balance;
  background-color: var(--swm-background);
  color: var(--ifm-color-primary);

  padding: 16px;
  gap: 12px;
  line-height: 28px;
  border: none;
}
