.plan__name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--swm-green-light-100);
  display: flex;
  gap: 16px;
}

.plan__price {
  font-weight: 700;
  margin-top: 8px;
  font-size: 36px;
  margin-bottom: 0px;
}

.plan__price .plan__price_second_line {
  font-size: 16px;
  font-weight: 400;
}
/* A hack to hide the second line of the price but take the space for visual consistency */
.plan__price_second_line_hidden {
  opacity: 0;
}
.plan__price .plan__price_strikethrough {
  text-decoration: line-through;
  color: var(--swm-navy-light-60);
  font-weight: 400;
}

.plan__features {
  margin: 8px 0 24px 0;
}

.plan__spacer {
  flex-grow: 1;
}

.plan__tagline {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 18px;
  color: var(--swm-navy-light-60);
}

.plan__tagline a {
  color: var(--swm-navy-light-60);
  text-decoration: underline;
}

.plan__currency {
  font-weight: 400;
}
