.learnMoreSectionFooter {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  opacity: 0;
  gap: 35px;
  border-top: var(--radon-border-layout);
}

.sectionLanding {
  padding: 0 35px 0 80px;
  height: 440px;
}

.sectionFeature {
  justify-content: center;
  height: 400px;
  padding: 75px 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  z-index: 3;
  justify-content: center;
}

.containerLanding {
  max-width: 600px;
}

.containerFeature {
  align-items: center;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.containerFeature h2 br {
  display: none;
}

.learnMoreSectionFooter.show {
  animation-name: slideUpAndFade;
  animation-fill-mode: forwards;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.buttonContainer {
  padding: 40px 0;
  width: fit-content;
}

.contentContainer h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

.contentContainer h2 span {
  font-weight: 500;
  color: var(--radon-gradient-green);
}

.radonIconGreen {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .learnMoreSectionFooter {
    padding: 40px 24px;
  }
  .contentContainer h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .sectionFeature {
    height: auto;
  }
}

@media (max-width: 600px) {
  .radonIconGreen {
    display: none;
  }
  .try {
    font-size: 14px;
    line-height: 20px;
  }
  .contentContainer h2 {
    text-align: left;
  }
  .buttonContainer {
    width: 100%;
    padding: 27px 0;
  }
}
