.learnMoreSectionFooter {
  padding: 0 35px 0 80px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  opacity: 0;
  gap: 35px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border-top: var(--radon-border-layout);
  height: 440px;
  align-items: center;
}

.learnMoreSectionFooter.show {
  animation-name: slideUpAndFade;
  animation-fill-mode: forwards;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  z-index: 3;
  max-width: 600px;
  justify-content: center;
}

.buttonContainer {
  padding: 40px 0;
  width: fit-content;
}

.contentContainer h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

.contentContainer h2 span {
  font-weight: 500;
  color: var(--radon-gradient-green);
}

.try {
  color: var(--radon-sub-subheading);

  font-size: 16px;
  line-height: 24px;
}

.radonIconGreen {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .learnMoreSectionFooter {
    padding: 40px 24px;
  }
  .contentContainer h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 600px) {
  .radonIconGreen {
    display: none;
  }
  .try {
    font-size: 14px;
    line-height: 20px;
  }
  .buttonContainer {
    width: 100%;
    padding: 27px 0;
  }
}
