.container {
  display: flex;
  background-color: var(--radon-button);
  height: 60px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.modalContainer {
  display: flex;
  background-color: var(--radon-button);
  height: 60px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.iconContainer {
  display: flex;
}

.titleContainer p {
  color: var(--ifm-color-primary);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.container:hover {
  background-color: var(--radon-button-hover);
}
