.testimonial {
  display: block;
  padding: 20px;
  background-color: var(--swm-background);
  border: var(--radon-border-layout);
  margin-bottom: 20px;
}

.testimonial:hover {
  background-color: var(--swm-border);
  text-decoration: none;
}

.testimonialAvatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.testimonialAuthor {
  align-self: stretch;
  color: var(--ifm-color-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.authorWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.testimonialAuthor {
  margin-bottom: 0;
}

.testimonialHandle {
  color: var(--radon-sub-subheading);
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.icon {
  width: 16px;
  height: 16px;
}
.testimonial p {
  margin: 0;
}
