.media {
  display: flex;
  justify-content: center;
}

.media video,
.media img {
  width: 100%;
  border-style: solid;
}

.description {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  white-space: pre-wrap;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 41.6px;
}

.itemBody {
  white-space: pre-wrap;
  font-size: 20px;
  line-height: 1.3;
}

.itemBody strong {
  font-weight: 400;
}

.itemLabel {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;

  color: var(--swm-green-light-100);
}

@media (max-width: 996px) {
  .description {
    margin-bottom: 0.5rem;
  }
  .itemTitle {
    font-size: 24px;
  }
  .media video,
  .media img {
    border-width: 1.5rem !important;
  }
}

@media (max-width: 430px) {
  .media video,
  .media img {
    border-width: 10px !important;
  }
  .itemTitle {
    margin-bottom: 1rem;
    line-height: 32px;
  }
  .itemBody {
    font-size: 18px;
  }
}
