.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: center;
  padding: 80px;
  max-width: 1360px;
}

.container p {
  text-wrap: balance;
  max-width: 600px;
  text-align: justify;
}

.link {
  text-decoration: underline;
}

.buttonWrapper {
  min-width: 200px;
}

@media (max-width: 800px) {
  .container {
    padding: 40px 24px;
  }
}
