.container {
  width: 75%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.preventfulContainer {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: var(--radon-border-layout);
}

.card div {
  font-size: 20px;
}

.card .button {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-align: end;
}

@media (max-width: 996px) {
  .container {
    width: 85%;
  }
  .card div {
    font-size: 16px;
  }
  .button {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 0 24px;
  }
  .card div {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .button {
    width: 72px;
  }
}

@media (max-width: 430px) {
  .container {
    width: 100%;
    margin: 40px auto;
  }
}
