/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }

  [class*="navbar__items--right"] [class*="navbar__item"] {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

nav {
  --ifm-navbar-padding-vertical: 0 1.25rem;
  --ifm-navbar-padding-horizontal: 0 0;
  --ifm-navbar-height: 64px;

  --ifm-navbar-shadow: none;
}

[class*="navbar__item"] {
  display: flex;
}

@media (min-width: 996px) {
  [class*="navbar__items--right"] [class*="navbar__item"] {
    padding-right: 0;
    padding-left: 1.5rem;
  }
}
[class*="header-swm"] {
  display: flex;
}

@media (max-width: 420px) {
  [class*="header-swm"] {
    display: none;
  }
}

[class*="navbar__brand"] {
  background-color: var(--swm-white);
}

[class*="navbar__items"] {
  display: flex;
}

[class*="navbar__logo"] {
  height: 2.75rem;
}
