.heading {
  font-size: var(--swm-h2-font-size);
  font-weight: 700;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  text-wrap: balance;
}

.paragraph a {
  text-decoration: underline;
}

.elipseContainer {
  position: relative;
}

.elipse {
  left: -8%;
  bottom: 2rem;
}
