.motivation {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.heading {
  font-size: var(--swm-h2-font-size);
  font-weight: 700;
  margin-bottom: 3rem;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
}

.paragraph a {
  text-decoration: underline;
}

.elipseContainer {
  position: relative;
}

.elipse {
  left: -8%;
  bottom: 2rem;
}

.swmLogo {
  height: 80px;
  margin-top: 2rem;
}
