.motivation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.heading {
  font-size: var(--swm-h2-font-size);
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  text-wrap: balance;
  text-align: center;
  max-width: 800px;
}

.paragraph a {
  text-decoration: underline;
}

.elipseContainer {
  position: relative;
}

.elipse {
  left: -8%;
  bottom: 2rem;
}
