html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body[data-use-code-theme] #root {
  background-color: var(--swm-preview-background);
}

body[data-use-code-theme=""] #root {
  background-color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
  max-height: 100vh;
}
