html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--swm-preview-background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
  max-height: 100vh;
}

/* Custom codicon class meant to be used the same way as all built-in codicons */
/* Displays React icon when used with <span className="codicon codicon-react" /> */
.codicon-react {
  width: 16px;
  height: 16px;
  background-color: currentColor;
  mask-image: url("/assets/react.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
