.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 24px 0 48px;
}

@media (max-width: 920px) {
  .list {
    grid-template-columns: 1fr;
  }
}

/* Pay Annually Toggle */

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 28px;
  cursor: pointer;
}

.toggleSwitch input[type="checkbox"] {
  display: none;
}

.toggleSwitchBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--swm-navy-light-20);
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  transform: translateX(0px);
}

.toggleSwitchHandle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  background-color: var(--swm-white);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0px);
}

.toggleSwitch::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 12px;
  font-weight: bold;
  color: var(--swm-navy-light-60);
  transition: color 0.2s ease-in-out;
}

.toggleSwitch input[type="checkbox"]:checked + .toggleSwitchBackground {
  background-color: var(--swm-navy-light-20);
}

.toggleSwitch input[type="checkbox"]:checked + .toggleSwitch:before {
  content: "On";
  background-color: var(--swm-navy-light-20);
  right: 15px;
}

.toggleSwitch input[type="checkbox"]:not(:checked) + .toggleSwitchBackground .toggleSwitchHandle {
  transition: transform 0.2s ease-in-out;
  transform: translateX(30px);
}

.plan_pay_annually {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  font-weight: 500;
}

.plan_pay_annually p {
  margin: 0;
  display: flex;
  align-items: center;
}

.plan_pay_annually p:first-child {
  /* align-items: end; */
  justify-content: end;
}

.plan_pay_annually__discount {
  color: var(--swm-green-light-100);
  margin-left: 8px !important;
  font-weight: bold;
}
