.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 24px 0 48px;
}

@media (max-width: 920px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.item {
  display: block;
  height: 100%;
}

.plan__container {
  border: 1px solid var(--swm-border);
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--swm-off-background);
}

.plan__highlight {
  animation: highlight 2s infinite alternate ease-in-out;
}

@keyframes highlight {
  0% {
    box-shadow: 0px 0px 3px var(--swm-green-light-100);
  }
  100% {
    box-shadow: 0px 0px 10px var(--swm-green-light-100);
  }
}

.plan__name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--swm-green-light-100);
}

.plan__price {
  font-weight: 700;
  margin-top: 8px;
  font-size: 36px;
  margin-bottom: 0px;
}

.plan__price .plan__price_second_line {
  font-size: 16px;
  font-weight: 400;
}
.plan__price .plan__price_strikethrough {
  text-decoration: line-through;
  color: var(--swm-navy-light-60);
  font-weight: 400;
}

.plan__features {
  margin: 8px 0 24px 0;
}

.plan__spacer {
  flex-grow: 1;
}

.plan__tagline {
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 16px;
  color: var(--swm-navy-light-60);
}

.plan__tagline a {
  color: var(--swm-navy-light-60);
  text-decoration: underline;
}

.plan_pay_annually {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.plan_pay_annually p {
  margin: 0;
}

.plan__currency {
  font-weight: 400;
}

/* Pay Annually Toggle */

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  cursor: pointer;
}

.toggleSwitch input[type="checkbox"] {
  display: none;
}

.toggleSwitchBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--swm-navy-light-20);
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  transform: translateX(0px);
}

.toggleSwitchHandle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: var(--swm-off-white);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0px);
}

.toggleSwitch::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 12px;
  font-weight: bold;
  color: var(--swm-navy-light-60);
  transition: color 0.2s ease-in-out;
}

.toggleSwitch input[type="checkbox"]:checked + .toggleSwitchBackground {
  background-color: var(--swm-green-light-100);
}

.toggleSwitch input[type="checkbox"]:checked + .toggleSwitch:before {
  content: "On";
  color: var(--swm-green-light-100);
  right: 15px;
}

.toggleSwitch input[type="checkbox"]:not(:checked) + .toggleSwitchBackground .toggleSwitchHandle {
  transition: transform 0.2s ease-in-out;
  transform: translateX(20px);
}
