.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(275px, 480px));
  gap: 40px;
  list-style: none;
  overflow: hidden;
  justify-content: center;
}

.planContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;
}

.planBtnContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.plan_pay_individual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
}

.btnCenter {
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ifm-color-primary);
  opacity: 0.5;
}

.btn p {
  white-space: nowrap;
  font-size: 16px;
  font-family: Aeonik;
  margin: 0;
  justify-content: center;
  font-weight: 500;
}

.btn.active {
  color: var(--ifm-color-primary);
  border-bottom: 2px solid var(--radon-active-tab);
  opacity: 1;
}

.btn:not(.active):hover {
  color: var(--ifm-color-primary);
  border-bottom: 2px solid var(--radon-active-tab);
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .plan_pay_individual {
    padding: 0;
  }
}

@media (max-width: 794px) {
  .plan_pay_individual {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
  .planBtnContainer {
    gap: initial;
    max-width: 344px;
    width: 100%;
    justify-content: space-evenly;
  }
  .btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .list {
    gap: 24px;
  }
  .planContainer {
    padding: 0;
    gap: 32px;
  }
}

@media (max-width: 640px) {
  .list {
    grid-template-columns: minmax(275px, 480px);
  }
}
