.container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: var(--radon-border-layout);
}

@media (max-width: 1000px) {
  .container {
    padding: 24px;
    gap: 24px;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
