.alert-dialog-content {
  background-color: var(--swm-popover-background);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 8px;
  animation: alertContentShow 175ms cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
  cursor: default;
}

.alert-dialog-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.alert-dialog-content:focus {
  outline: none;
}

.alert-dialog-title {
  margin: 0;
  flex: 1;
  font-weight: 500;
  color: var(--swm-default-text);
  font-size: 125%;
}

.alert-dialog-description {
  overflow: hidden;
  color: var(--swm-secondary-text);
  font-size: 110%;
}

.alert-dialog-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-dialog-error .codicon {
  font-size: 160%;
  font-weight: bold;
  color: var(--vscode-statusBarItem-errorBackground);
}

.alert-dialog-error-icon {
  color: var(--red-dark-40);
}

.alert-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 2px;
}

@keyframes alertContentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
