.alert-dialog-content {
  background-color: var(--swm-popover-background);
  border-radius: var(--swm-button-size);
  display: grid;
  grid-template-columns: 50px 1fr min-content;
  gap: 4px;
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 8px 16px 8px 8px;
  animation: alertContentShow 175ms cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: default;
}
.alert-dialog-content:focus {
  outline: none;
}

.alert-dialog-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--swm-default-text);
  font-size: 16px;
}

.alert-dialog-description {
  margin: 0;
  color: var(--swm-secondary-text);
  font-size: 13px;
}

.alert-dialog-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-dialog-error-icon {
  color: var(--red-dark-40);
}

.alert-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  gap: 10px;
}

@keyframes alertContentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
