.icon-button {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background: none;
  border: 0px solid transparent;
  border-radius: 36px;
  color: var(--swm-button);
  transition: all 200ms 0ms ease-in-out;
  flex-shrink: 0;
}

.icon-button-icon {
  transition: transform 200ms ease-in-out;
}

.icon-button:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--swm-button-disabled);
}

.icon-button:hover {
  background-color: var(--swm-button-hover);
}

.icon-button:active {
  color: var(--swm-button-active);
  background-color: var(--swm-button-active-background);
  transform: scale(0.9);
}

.icon-button:focus {
  box-shadow: var(--swm-focus-outline);
}

.icon-button-selected {
  color: var(--swm-button-selected);
  background-color: var(--swm-button-selected-background);
}

.icon-button-selected:hover {
  color: var(--swm-button-selected-hover);
  background-color: var(--swm-button-selected-hover-background);
}

.icon-button-secondary {
  color: var(--swm-button-secondary);
  background-color: var(--swm-button-secondary-background);
}

.icon-button-secondary:hover {
  background-color: var(--swm-button-secondary-hover);
}

.icon-button-small {
  height: 24px;
  width: 24px;
  border-radius: 6px;
}

.icon-button-counter {
  border: 0px solid transparent;
  border-radius: 4px;
  color: var(--swm-button-counter);
  background-color: var(--swm-button-counter-background);
  padding: 2px 4px;
  font-size: 11px;
  position: absolute;
  top: 20%;
  right: 0px;
  opacity: 0;
  transform: translateY(-50%);
  transition: right 200ms ease-in-out, opacity 200ms ease-in-out;
}

.icon-button-counter.visible {
  top: 20%;
  right: 0px;
  opacity: 1;
}
