.icon-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background: none;
  border: 0px solid transparent;
  border-radius: 36px;
  color: var(--default-text);
  transition: all 200ms 0ms ease-in-out;
}

.icon-button:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--disabled-text);
}

.icon-button:hover {
  background-color: var(--highlight-hover-background);
}

.icon-button:active {
  color: var(--highlight-text-active);
  background-color: var(--highlight-active-background);
  transform: scale(0.9);
}

.icon-button:focus {
  box-shadow: 0 0 0 2px var(--background-dark-50);
}

.icon-button-selected {
  color: var(--highlight-text-selected);
  background-color: var(--highlight-active-background);
}

.icon-button-selected:hover {
  color: var(--highlight-selected-hover-text);
  background-color: var(--background-dark-50);
}

.icon-button-secondary {
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
}

.icon-button-secondary:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

.icon-button-small {
  height: 24px;
  width: 24px;
  border-radius: 6px;
}
