.paywall-dropdown-menu-item {
  position: relative;

  &.locked,
  &.locked:hover {
    color: var(--swm-button-disabled);

    .switch-root {
      cursor: unset;
      pointer-events: none;
    }
  }
}

.paywall-dropdown-menu-badge {
  border: 0px solid transparent;
  border-radius: 4px;
  color: var(--swm-button-counter);
  background-color: var(--swm-button-counter-background);
  border: 1px solid var(--swm-button-counter-border);
  padding: 3px 5px;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  opacity: 0;
  transition:
    left 200ms ease-in-out,
    opacity 200ms ease-in-out;
  transition-delay: 0ms;
}

.locked:hover .paywall-dropdown-menu-badge {
  opacity: 1;
  transition-delay: 200ms;
}

.paywall-dropdown-menu-sub {
  position: relative;

  &.locked,
  &.locked:hover {
    color: var(--swm-button-disabled);
  }

  & .codicon-chevron-right {
    display: none;
  }
}

.paywall-dropdown-menu-sub-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  pointer-events: none;
}
