.progress-bar-root {
  position: relative;
  overflow: hidden;
  background: var(--background-dark-40);
  border-radius: 99999px;
  width: 75%;
  height: 6px;
}

.progress-bar-indicator {
  background-color: var(--off-white);
  width: 100%;
  height: 100%;
}
