.resizable-container {
  display: flex;
  position: relative;
}

.resizable-container:not(.bottom) {
  flex-direction: row;
}

.resizable-container .bottom {
  flex-direction: column;
}

.resizable-container:is(.right, .column) {
  justify-content: flex-start;
}

.resizable-container:is(.left, .bottom) {
  justify-content: flex-end;
}

.resizable-container .content {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.draggable {
  position: absolute;
  z-index: 10;
  background-color: var(--vscode-input-border);
}

.draggable:is(.bottom) {
  cursor: row-resize;
  top: 100%;
  height: 10px;
  width: 100%;
}

.draggable:not(.bottom) {
  cursor: col-resize;
  top: auto;
  height: 100%;
  width: 1px;
  top: 0;
  bottom: 0;
  transform: translateX(-8px);
}

.draggable:not(.bottom, .show) {
  width: 10px;
}

.draggable .left {
  right: 100%;
}

.draggable:not(.left) {
  right: 0;
}

.draggable .show {
  opacity: 1;
}

.draggable:not(.show) {
  opacity: 0;
}

.draggable-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 100%;
  transform: translateX(8px);
  background-color: var(--vscode-dropdown-background);
}

.draggable:hover {
  width: 1px;
  background-color: var(--vscode-focusBorder);
}

.details {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.dragging * {
  user-select: none !important;
  pointer-events: none !important;
}
