button {
  all: unset;
}

.select-trigger {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 1;
  height: 26px;
  gap: 5px;
  color: var(--swm-default-text);
  border: 1px solid var(--swm-select-border);
  background-color: var(--swm-select-background);
  cursor: pointer;
  box-shadow: var(--swm-select-shadow);
}

.select-trigger:hover {
  background-color: var(--swm-select-hover-background);
}

.select-trigger-disabled {
  color: var(--swm-select-disabled);
  background-color: var(--swm-select-disabled-background);
}

.select-trigger-disabled:hover {
  background-color: var(--swm-select-disabled-background);
  cursor: auto;
}

.select-content {
  overflow: hidden;
  color: var(--swm-default-text);
  background-color: var(--swm-select-content-background);
  border-radius: 6px;
  box-shadow: var(--swm-backdrop-shadow);
}

.select-viewport {
  padding: 5px;
  background-color: var(--swm-select-content-background);
}

.select-item {
  font-size: 13px;
  line-height: 1;
  color: var(--swm-default-text);
  background-color: var(--swm-select-content-background);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}

.select-item[data-disabled] {
  background-color: var(--swm-select-item-disabled-background);
  color: var(--swm-secondary-text);
  pointer-events: none;
}

.select-item:hover {
  outline: none;
  background-color: var(--swm-select-item-highlighted-background);
  cursor: pointer;
}

.select-item-marked {
  color: var(--swm-marked-text);
}

.select-label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--swm-secondary-text);
  user-select: none;
}

.select-separator {
  height: 1px;
  background-color: var(--swm-separator);
  margin: 5px;
}

.select-item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: var(--swm-select-content-background);
  color: var(--swm-white);
  cursor: default;
}
