button {
  all: unset;
}

.select-trigger {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 1;
  height: 26px;
  gap: 5px;
  background-color: var(--swm-select-background);
  cursor: pointer;
  box-shadow: 0 1px 10px var(--background-dark-100);
}

.select-trigger:hover {
  background-color: var(--swm-select-active-background);
}

.select-trigger-disabled {
  background-color: var(--background-dark-120);
}

.select-trigger-disabled:hover {
  background-color: var(--background-dark-120);
  cursor: auto;
}

.select-content {
  overflow: hidden;
  color: var(--swm-default-text);
  background-color: var(--background-dark-80);
  border-radius: 6px;
  box-shadow: 0 1px 10px var(--background-dark-100);
}

.select-viewport {
  padding: 5px;
  background-color: var(--background-dark-80);
}

.select-item {
  font-size: 13px;
  line-height: 1;
  color: var(--swm-default-text);
  background-color: var(--background-dark-80);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}

.select-item[data-disabled] {
  background-color: var(--background-dark-100);
  color: var(--swm-secondary-text);
  pointer-events: none;
}
.select-item[data-highlighted] {
  outline: none;
  background-color: var(--background-dark-60);
  color: var(--violet-1);
  cursor: pointer;
}

.select-label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--swm-secondary-text);
  user-select: none;
}

.select-separator {
  height: 1px;
  background-color: var(--swm-separator);
  margin: 5px;
}

.select-item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: var(--background-dark-80);
  color: white;
  cursor: default;
}
