.startup-message-wrapper {
  display: flex;
  color: var(--swm-startup-message);
}

.startup-message-dots {
  width: 16px;
  display: inline-grid;
  position: relative;
  color: var(--swm-startup-message);
}
