textarea {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 1;
  height: 26px;
  gap: 5px;
  color: var(--swm-default-text);
  background-color: var(--swm-input-background);
  box-shadow: var(--swm-select-shadow);
  border: none !important;
  outline: 1px solid var(--swm-input-border);
  margin-bottom: 5px;
}

textarea:focus {
  outline-color: var(--swm-focus-outline-color) !important;
}

textarea:disabled {
  background-color: var(--swm-input-disabled-background);
}

textarea[data-error="true"] {
  outline-color: var(--swm-error-color);
}
