.toolbelt-button-container {
  display: flex;
  align-items: center;
  max-height: 36px;
  height: 36px;
}

.toolbelt-button-main-button {
  cursor: pointer;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
  background: none;
  border: 0px solid transparent;
  border-radius: 10px 0px 0px 10px;
}

.toolbelt-button-main-button:hover {
  background-color: var(--swm-button-hover);
}
.toolbelt-button-main-button:active {
  color: var(--swm-button-active);
  background-color: var(--swm-button-active-background);
  transform: scale(0.9);
}

.toolbelt-button-select-trigger {
  cursor: default;
  height: 100%;
  background: none;
  border: 0px solid transparent;
  border-radius: 0px 10px 10px 0px;
}
.toolbelt-button-select-trigger:hover {
  background-color: var(--swm-button-hover);
}

.toolbelt-button-select-trigger[data-state="open"] {
  /* border-radius: 0 0 18px 18px; */
}

.toolbelt-button-select-trigger[data-disabled] {
  background-color: var(--swm-device-select-trigger-disabled);
  color: var(--swm-secondary-text);
  pointer-events: none;
}

.toolbelt-button-select-content {
  background-color: var(--swm-popover-background);
  border-radius: 6px;
  padding: 4px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--swm-backdrop-shadow);
  max-height: calc(var(--radix-dropdown-menu-content-available-height) - 40px);
  overflow-y: auto;
}

.toolbelt-button-select-content[data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.toolbelt-button-select-content[data-side="top"] {
  animation-name: slideDownAndFade;
}

.toolbelt-button-select-item {
  padding: 10px;
  cursor: pointer;
}

.toolbelt-button-select-item:hover {
  background-color: var(--swm-button-hover);
}

.toolbelt-button-icon {
  margin-right: 8px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
