.toolbelt-button-container {
  display: flex;
  align-items: center;
  max-height: 36px;
  height: 36px;
}

.toolbelt-button-main-button {
  cursor: pointer;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
  background: none;
  border: 0px solid transparent;
  border-radius: 10px 0px 0px 10px;
}

.toolbelt-button-main-button:hover {
  background-color: var(--swm-button-hover);
}
.toolbelt-button-main-button:active {
  color: var(--swm-button-active);
  background-color: var(--swm-button-active-background);
  transform: scale(0.9);
}

.toolbelt-button-select-trigger {
  cursor: default;
  height: 100%;
  background: none;
  border: 0px solid transparent;
  border-radius: 0px 10px 10px 0px;
}
.toolbelt-button-select-trigger:hover {
  background-color: var(--swm-button-hover);
}

.toolbelt-button-select-trigger-value {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.toolbelt-button-select-trigger[data-disabled] {
  background-color: var(--swm-device-select-trigger-disabled);
  color: var(--swm-secondary-text);
  pointer-events: none;
}

.toolbelt-button-select-content {
  background-color: var(--swm-popover-background);
  border-radius: 6px;
  padding: 4px;
  will-change: transform, opacity;
  box-shadow: var(--swm-backdrop-shadow);
  max-height: calc(var(--radix-dropdown-menu-content-available-height) - 40px);
  overflow-y: auto;
}

.toolbelt-button-select-item {
  padding: 10px;
  cursor: pointer;
}

.toolbelt-button-select-item:hover {
  background-color: var(--swm-button-hover);
}

.toolbelt-button-icon {
  margin-right: 8px;
}
