.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: 225px;
}

.planDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.planName {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--radon-text-green-highlight);
}

.priceDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--radon-subheading);
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.priceDescription span {
  font-size: 44px;
  font-weight: 500;
  line-height: normal;
  color: var(--ifm-color-primary);
}

.planLabel {
  font-size: 17px;
  color: var(--radon-subheading);
  line-height: 28px;
  margin: 0;
}

.period {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.period p {
  margin: 0;
  line-height: normal;
}

.fullPrice {
  text-decoration: line-through var(--radon-text-green-highlight);
  color: var(--ifm-color-primary);
  font-size: 20px;
  line-height: normal;
}

.price {
  display: flex;
  gap: 8px;
}

span.customPrice {
  font-size: 32px;
}
